//░░░░░░░░░░░░░░░░░░░░░░░░
//
//     DIRECTORY
//
//    _Slider
//    _Slides
//    _Arrows
//    _PageDots
//    _PausePlayButtons
//    _LiveRegion
//
//░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Slider
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Slides
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.slick-slide {
    height: 100%;
    min-height: 1px;
    display: none !important;
    float: left;

    &:first-child{
        display: block !important;
    }

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }


    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block !important;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Arrows
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.slick-controls{
    list-style: none;

    li{
        @include prefixes('transform', translateY(-50%));
        position: absolute;
        top: 50%;
        z-index: 1;

        &:first-child{
            left: 20px;
        }

        &:nth-child(2){
            right: 20px;
        }

        &:nth-child(3){
            @include prefixes('transform', 'none');
            left: 20px;
            top: inherit;
            bottom: 16px;
            z-index: 5;
        }

        &:last-child{
            @include prefixes('transform', 'none');
            left: 46px;
            top: inherit;
            bottom: 16px;
            z-index: 5;
        }
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-prev,
.slick-next{

    @include transition;
    display: block;

    width: 30px;
    height: 30px;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    text-align: center;
    background-color: rgba(is('white'), 0.8);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(#000, 0.2);
    cursor: pointer;

    &:before{
        @include transition;
        font-family: 'fontawesome';
        font-size: 13px;
        line-height: 32px;
        color: is('red');
    }

    &:focus{
        background-color: is('red');

        &:hover{
            background-color: is('white');

            &:before{
                color: is('red');
            }
        }

        &:before{
            color: is('white');
        }
    }

    &:hover{
        background-color: is('white');
    }
}

.slick-prev {
    &:before {
        content: '\f053';
        margin-right: 3px;
    }
}

.slick-next {
    &:before {
        content: '\f054';
        margin-left: 3px;
    }
}

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .slick-prev,
        .slick-next{
            display: none !important;
        }
    }

//────────────────────────────────────────────────────┘


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _PageDots
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.slick-dots{
    position: absolute;
    bottom: 24px;
    left: 0;
    right: 0;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style: none;



    li{
        @include transition(background-color);
        position: relative;
        display: inline-block;
        height: 4px;
        width: 20px;
        background-color: is('white');

        &.slick-active{
            background-color: is('black');
        }

        &:hover,
        &:focus{
            background-color: is('red');
        }

        button{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;

            &:focus{
                background-color: is('red');
                opacity: 1;
                font-size: 0px;
            }
        }

        + li{
            margin-left: 10px;
        }
    }
}

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _PausePlayButtons
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄


.slick-play,
.slick-pause{
    position:relative;
    width: 20px;
    height: 20px;
    font-size: 0px;
    background-color: is('white');
    border-radius: 50%;

    &:before{
        @include transition;
        content:'';
        position: absolute;
        top: 50%;
        left: 50%;
    }

    &:focus{
        background-color: is('red');
    }
}

.slick-pause{
    &:before{
        width: 2px;
        height: 7px;
        border-left: 2px solid is('red');
        border-right: 2px solid is('red');
        margin-left: -3px;
        margin-top: -3.5px;
    }

    &.active:before{
        border-color: is('gray-light');
    }

    &:focus:before{
        border-color: is('white');
    }
}

.slick-play{
    &:before{
        width: 6px;
        height: 9px;
        background: url('SkinSOurce/Images/ui/icon-play.svg') no-repeat;
        background-size: 6px auto;
        margin-left: -2px;
        margin-top: -4.5px;
    }

    &.active:before{
        background: url('SkinSource/Images/ui/icon-slick-play.svg') no-repeat;
    }

    &:focus:before{
        background: url('SkinSource/Images/ui/icon-slick-play-white.svg') no-repeat;
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _LiveRegion
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
.visually-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}


//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .slick-dots{
            display: none !important;
        }
    }

//────────────────────────────────────────────────────┘
