//░░░░░░░░░░░░░░░░░░░░░░░░░░░
//
//    DIRECTORY
//
//    _Page
//    _Containers
//    _Variations
//      ∟Colors
//      ∟Spacing
//
//░░░░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Page
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

[class^="page__"]{
    @include transition(transform, 0.3s);
}

.page{
    overflow: hidden;

    &__overlay{
        @include transition((opacity:0.3s, transform:0.3s, z-index:0s));
        position: fixed;
        top: 0;
        left: 0;
        z-index: z(behind);
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0;

        &--is-open{
            opacity: 0.85;
            z-index: z(element, overlay) + 2;
        }
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Containers
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

$containPadding: 50px;

%containAttrs{
    position: relative;
	padding-left: $containPadding;
	padding-right: $containPadding;
	box-sizing: border-box;
}

.contain{
    @extend %containAttrs;
    max-width: 1200 + $containPadding * 2;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(tablet-landscape){
        max-width: 1200 + 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint(large-phone){
        max-width: 1200 + 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.contain-less{
    @extend %containAttrs;
    max-width: 1030 + $containPadding * 2;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(tablet-landscape){
        max-width: 1030 + 80px;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include breakpoint(large-phone){
        max-width: 1030 + 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.contain-full{
    @extend %containAttrs;
    width: 100%;
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Variations
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ∟Colors
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// Classes with color variations

$classes:(
    'bg':(
        'background-color': '$color'
    ),
    'border':(
        'border-width': '1px',
        'border-style': 'solid',
        'border-color': '$color'
    ),
    'border-top':(
        'border-top-width': '1px',
        'border-top-style': 'solid',
        'border-top-color': '$color'
    ),
    'border-bottom':(
        'border-bottom-width': '1px',
        'border-bottom-style': 'solid',
        'border-bottom-color': '$color'
    ),
    'border-left':(
        'border-left-width': '1px',
        'border-left-style': 'solid',
        'border-left-color': '$color'
    ),
    'border-right':(
        'border-right-width': '1px',
        'border-right-style': 'solid',
        'border-right-color': '$color'
    )
);


// Available colors

$colors:(
    'white'       : #FFFFFF,
    'gray-lighter': #F4F4F4,
    'gray-light'  : #CCCCCC,
    'gray'        : #A2A9AD,
    'gray-dark'   : #727779,
    'gray-darker' : #313131,
    'black'       : #231F20,
    'red'         : #E50914
);


// Generate color variation classes

@each $color in map_keys($colors) {
    @each $class in map_keys($classes) {
        .#{$class}-#{$color} {
            $style_attributes: map_keys(map-get($classes,$class));

            @each $style_attribute in $style_attributes {
                $class_key_value: #{map-get(map-get($classes, $class), $style_attribute)};
                $style_attribute_value: if($class_key_value == '$color', map-get($colors, $color), $class_key_value);

                #{$style_attribute}: $style_attribute_value;
            }
        }
    }
}


//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ∟Spacing
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// Prefixes for spacing variations

$space_variations:(
    'null': 0,
    'xs'  : 10,
    'sm'  : 20,
    'md'  : 40,
    'lg'  : 50,
    'xl'  : 70
);

$mobile_devices:(
    'tablet': map-get($breakpoints, tablet-landscape),
    'mobile': map-get($breakpoints, large-phone)
);


// Generate spacing variation classes

@each $size in map_keys($space_variations){
    $directions:('top','bottom','left','right');
    $space: #{map-get($space_variations, $size)}px;

    @each $space_type in ('margin','padding'){
        .#{$space_type}-#{$size}{
            #{$space_type}: $space !important;
        }

        .#{$space_type}-x-#{$size}{
            #{$space_type}-left: $space !important;
            #{$space_type}-right: $space !important;
        }

        .#{$space_type}-y-#{$size}{
            #{$space_type}-top: $space !important;
            #{$space_type}-bottom: $space !important;
        }

        @each $direction in $directions{
            .#{$space_type}-#{$direction}-#{$size}{
                #{$space_type}-#{$direction}: #{$space} !important;
            }
        }

        @each $device in map_keys($mobile_devices){
            $break: map-get($mobile_devices, $device);
            $specifics: if($device == 'tablet', '.page', 'body .page');

            @media (max-width: $break){
                #{$specifics} .#{$space_type}-#{$size}-#{$device}{
                    #{$space_type}: $space !important;
                }

                #{$specifics} .#{$space_type}-x-#{$size}-#{$device}{
                    #{$space_type}-left: $space !important;
                    #{$space_type}-right: $space !important;
                }

                #{$specifics} .#{$space_type}-y-#{$size}-#{$device}{
                    #{$space_type}-top: $space !important;
                    #{$space_type}-bottom: $space !important;
                }

                @each $direction in $directions{
                    #{$specifics} .#{$space_type}-#{$direction}-#{$size}-#{$device}{
                        #{$space_type}-#{$direction}: #{$space} !important;
                    }
                }
            }
        }
    }
}
