//░░░░░░░░░░░░░░░░░░░░░░░░░░░
//
//    DIRECTORY
//
//    _Section
//    _Button
//      ∟General
//      ∟Video
//    _PromoBlock
//    _Text
//      ∟Alert
//    _Shop
//      ∟SearchResults
//
//░░░░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Section
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.section{
    &__header{
        max-width: 530px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        text-align: center;

        &-paragraph,
        &-link{
            margin-top: 5px;
        }

        &-link{
            @include fontFamily(gotham, book);
            @include fontSize(16, 18);
            @include transition((color, border-color));
            display: inline-block;
            padding-bottom:1px;
            color: is('gray');
            border-bottom: 1px solid is('gray');

            &:hover,
            &:focus{
                color: is('black');
                border-color: is('black');
            }
        }

        &-paragraph{
            color: is('gray-darker');
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .section{
        &__header{
            margin-bottom: 40px;
        }
    }
}
@include breakpoint(tablet-portrait){
    .section{
        &__header{
            margin-bottom: 30px;
        }
    }
}
@include breakpoint(large-phone){
    .section{
        &__header{
            margin-bottom: 5px;
        }
    }
}

//────────────────────────────────────────────────────┘


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Button
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ∟General
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

%buttonStyles{
    @include fontFamily(gotham,bold);
    @include transition;
    display: inline-block;
    min-width: 130px;
    padding: 12px 22px;
    font-size: em(12);
    text-align: center;
    text-transform: uppercase;
    box-sizing:border-box;
    border-radius: 20px;
    cursor: pointer;

    @include breakpoint(large-phone){
        font-size: em(8);
        min-width: 86px;
        padding: 7px 15px;
    }
}

.button,
.button-red{
    @extend %buttonStyles;
    color: is('white');
    background-color: is('red');

    &:hover,
    &:focus{
        color: is('white');
        background-color: is('black');
    }
}

.button-white{
    @extend %buttonStyles;
    color: is('red');
    background-color: is('white');

    &:hover,
    &:focus{
        color: is('white');
        background-color: is('red');
    }
}

.button-gray{
    @extend %buttonStyles;
    color: is('white');
    background-color: is('gray');
    border-radius: 0px;

    &:hover,
    &:focus{
        color: is('gray');
        background-color: is('white');
    }
}


//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ∟Video
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

.button-play{
    width: 55px;
    height: 55px;
    background-color: is('white');
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(#000, 0.35);
    background-image:url(./SkinSource/Images/ui/icon-play.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;

    // &:before{
    //     content:url(./SkinSource/Images/ui/icon-play.svg);
    //     display: block;
    //     padding-top:2px;
    //     padding-left:2px;
    // }
    //
    // &:not(button){
    //     &:before{
    //         padding-top: 20px;
    //         padding-left: 23px;
    //     }
    // }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _PromoBlock
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

.promoBlock{
    position: relative;
    height: 240px;
    display: block;
    background-position: right bottom;
    background-repeat: no-repeat;

    &:not([style*="background"]){
        z-index: 0;

        &:hover,
        &:focus{
            &:after{
                opacity: 0.15;
            }
        }

        &:before,
        &:after{
            content: '';
            position: absolute;
            left: 0;
            z-index: z(behind);
            display: block;
            width: 100%;
            background-color: is('black');
            opacity: 0.15;
            mix-blend-mode: multiply;
        }

        &:before{
            top: 0;
            height: 10px;
        }

        &:after{
            @include transition(opacity);
            bottom: 0;
            height: calc(100% - 10px);
            opacity: 0;
        }
    }

    &[style*="background"]{
        background-color: is('gray-lighter');

        &:hover,
        &:focus{
            &:after{
                opacity: 1;
                border-color: is('red');
            }
        }

        &:after{
            @include transition(opacity);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
            border: 3px solid rgba(#000, 0.3);
            box-sizing: border-box;
            opacity: 0;
        }

        .promoBlock{
            &__content{
                padding-left: 20px;
                padding-right: 102px;
            }

            &__heading,
            &__message{
                color: is('black');
            }

            &__heading b,
            &__link{
                color: is('red');
            }

            &__heading{
                @include fontFamily(gotham, bold);
                font-size: em(24);
            }

            &__message{
                @include fontFamily(gotham, medium);
                font-size: em(18);
            }

            &__link{
                @include fontFamily(gotham, bold);
                @include fontSize(12, 13.16);

                &:after{
                    width: 4px;
                    height: 4px;
                    margin-top: -2px;
                    margin-left: 7px;
                    border-color: is('gray');
                }
            }

            &__note{
                @include fontFamily(gotham, medium);
                color: is('gray');
            }
        }
    }

    &.bg{
        &-gray{
            &-light,
            &-lighter{
                .promoBlock__content > *{
                    color: is('black');
                }
            }
        }
    }

    &__content{
        position: absolute;
        width: 100%;
        padding-left: 35px;
        padding-right: 35px;
        box-sizing: border-box;

        &--position-top{
            top: 32px;
        }

        &--position-middle{
            @include prefixes(transform, translateY(-50%));
            top: 50%;
        }

        &--position-bottom{
            bottom: 32px;
        }

        > *{
            color: is('white');
        }
    }

    &__heading{
        @include fontFamily(gotham, medium);
        font-size: em(30);
        text-transform: uppercase;

        b{
            @include fontFamily(gotham, medium);
            padding-bottom: 6px;
            display: inline-block;
            vertical-align: middle;
        }

        + p{
            margin-top: 10px;
        }
    }

    &__message{
        @include fontSize(22, 28.4);
        @include fontFamily(gotham, book);
        text-transform: capitalize;

        + p{
            margin-top: 20px;
        }
    }

    &__link{
        @include fontFamily(gotham, book);
        @include fontSize(16, 16.4);
        text-transform: uppercase;

        &:after{
            @include prefixes(transform, rotate(45deg));
            content:'';
            width: 5px;
            height: 5px;
            margin-top: -3px;
            margin-left: 12px;
            display: inline-block;
            border-top: 2px solid is('white');
            border-right: 2px solid is('white');
            vertical-align: middle;
        }

        + p{
            margin-top:20px;
        }
    }

    &__note{
        @include fontSize(12, 16.4);
        @include fontFamily(gotham, book);
        text-transform: uppercase;
    }
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Text
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ∟Alert
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

.text-alert{
    display: inline-block;
    padding: 5px 20px;
    font-weight: 500;
    color: is('red');
    background-color: is('gray-lighter');
    border-radius: 20px;
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Shop
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ∟SearchResults
//░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

.searchItem{
    &--new,
    &--blick-brand,
    &--exclusive{
        &:before{
            @include prefixes('transform', 'skewY(-10deg)');
            @include fontFamily(gotham, bold);
            @include fontSize(12);
            position: absolute;
            top: 10px;
            left: 10px;
            width: 63px;
            height: 26px;
            color: is('white');
            text-align: center;
            background-color: is('red');
            z-index: z(element, overlay);
            box-sizing: border-box;
        }
    }

    &--new{
        &:before{
            content: "NEW";
            padding-top: 7px;
        }
    }

    &--blick-brand{
        &:before{
            content: "BLICK \A BRAND";
            padding-top: 1px;
            white-space: pre;
        }
    }

    &--exclusive{
        &:before{
            content: "EXCLUSIVE";
            padding-top: 8.5px;
            font-size: em(9);
            background-color: is('black');
        }
    }

    &__product{
        text-align: center;

        &:hover,
        &:focus{
            .searchItem__product{
                &-image{
                    &:before{
                        @include prefixes('transform', 'translateY(-50%) scale(1)');
                    }

                    &:after{
                        opacity: 1;
                    }
                }
            }
        }

        &-image{
            position: relative;
            height: 135px;

            &:before,
            &:after{
                @include transition;
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                width: 64px;
                margin-left: auto;
                margin-right: auto;
                z-index: z(element, popup);
            }

            &:before{
                @include prefixes('transform', 'translateY(-50%) scale(0)');
                content:'';
                height: 64px;
                background-color: rgba(is('white'), 0.83);
                border: 3px solid rgba(is('white'), 1);
                border-radius: 50%;
                box-sizing: border-box;
                box-shadow: 0 0 15px rgba(#000, 0.25);

            }

            &:after{
                @include fontFamily(gotham, bold);
                @include prefixes('transform', 'translateY(-50%)');
                content: 'view';
                margin-top: 2px;
                font-size: em(12);
                color: is('red');
                text-align: center;
                text-transform: uppercase;
                opacity: 0;
            }

            img{
                @include prefixes('transform', 'translate(-50%, -50%)');
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-title{
            @include fontSize(14, 18);
            margin-top: 15px;
            color: is('gray-dark');

            + p{
                margin-top: 5px;
            }
        }

        &-price{
            @include fontFamily(gotham, medium);
            @include fontSize(12, 18);
            color: is('black');
        }

        &-rating{
            display: block;
            text-align: center;
            list-style: none;
            margin-top: 17px;

            &-star{
                display: inline-block;

                &:not(:last-child){
                    margin-right: 1px;
                }

                &:before{
                    content: url('./SkinSource/Images/ui/icon-star-empty.svg');
                }
            }

            @for $i from 1 through 5{
                &[data-rating="#{$i}"]{
                    .searchItem__product-rating-star:nth-child(-n + #{$i}){
                        &:before{
                            content: url('./SkinSource/Images/ui/icon-star-full.svg');
                        }
                    }
                }
            }
        }
    }
}

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _ULOL
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

ul ol,
ul ul,
ol ul,
ol ol{
    margin-left: 0px;
    margin-bottom: auto;
}

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _All
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

*,
*:before,
*:after{
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}



