/*SEARCH BAR AND PAGE HERO STYLE*/

.pageHero__footer-left {
    float: left;
}


.storeSearch__bar {
    position: relative;
    /*margin-top: 26px;*/
	float: left;
	width:590px;
}

.storeSearch__right {
    position: relative;
    /*margin-top: 26px;*/
	float: right;
}

img.unbxdHeaderSearchButton-store{
	
/*/	padding-top:20px;*/
}

.storeSearch__container {
	width: 100%;
	background-color: gray;
}

.storeSearch__button-right{position:absolute;top:5px;right:5px;cursor:pointer}

.storeSearch__button-right:hover{cursor:pointer;}

.storeSearch__button-right:focus{background-image:url("./SkinSource/Images/ui/icon-search-o-inverted.svg");background-repeat:no-repeat}

.storeSearch__button-right:focus img{opacity:0}


.search_button_text{
      /* padding: 20px; */
    position: absolute;
    left: 44px;
    height: 52px;
    width: 156px;
    bottom: -38px;
    background-color: #E50914 !important;
    border-radius: 40px;
	color: #fff;
}

.storeSearch{width: 590px; /*width:calc(100% - 751px)*/ float:left}.storeSearch__container{position:relative;margin-top:26px}

.storeSearch__instructions{font-family:Gotham A,Gotham B, 'Montserrat';font-weight:700;font-style:normal;font-size:0.75em;line-height:1.1666666667em;position:absolute;bottom:100%;left:35px;display:none;padding:5px;margin-bottom:4px;color:#E50914;background-color:#FFFFFF;border:1px solid #E50914;border-top-left-radius:8px;border-top-right-radius:8px;border-bottom-right-radius:8px;-webkit-box-shadow:0 3px 10px rgba(0, 0, 0, 0.2);box-shadow:0 3px 10px rgba(0, 0, 0, 0.2)}.storeSearch .unbxd_q,.storeSearch__input{font-family:Gotham A,Gotham B, 'Montserrat';font-weight:400;font-style:normal;-webkit-transition:border-radius 0.2s ease;-moz-transition:border-radius 0.2s ease;-o-transition:border-radius 0.2s ease;transition:border-radius 0.2s ease;display:block;width:100%;padding:11px 50px 11px 30px;font-size:1em;color:#231F20;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #CCCCCC;border-radius:30px;background-color:#F4F4F4}.storeSearch .unbxd_q::-webkit-input-placeholder,.storeSearch__input::-webkit-input-placeholder{color:#231F20}.storeSearch .unbxd_q:-moz-placeholder,.storeSearch__input:-moz-placeholder{color:#231F20;opacity:1}.storeSearch .unbxd_q::-moz-placeholder,.storeSearch__input::-moz-placeholder{color:#231F20;opacity:1}.storeSearch .unbxd_q:-ms-input-placeholder,.storeSearch__input:-ms-input-placeholder{color:#231F20}.storeSearch .unbxd_q.has-results,.storeSearch__input.has-results{border-bottom-left-radius:0}.storeSearch .unbxd_q:valid+.storeSearch__instructions,.storeSearch__input:valid+.storeSearch__instructions{display:inline-block}


.storeSearch__button{position:absolute;top:5px;right:5px;cursor:pointer}.storeSearch__button:focus{background-image:url("./SkinSource/Images/ui/icon-search-o-inverted.svg");background-repeat:no-repeat}.storeSearch__button:focus img{opacity:0}




.storeSearch__submit{width:30px;height:30px;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #CCCCCC;border-radius:50%;background-color:#FFFFFF;background-image:url("./SkinSource/Images/ui/icon-search.svg");background-repeat:no-repeat;background-position:7px 50%}@media screen and (max-width:1200px){.storeSearch{width:calc(100% - 446px)}.storeSearch__container{margin-top:16px}}@media screen and (max-width:980px){.storeSearch{position:absolute;left:0;bottom:0px;width:100%;background-color:#231F20}.storeSearch__container{margin-left:50px;margin-right:50px;margin-top:8px;margin-bottom:8px}.storeSearch .unbxd_q,.storeSearch__input{background-color:#FFFFFF}.storeSearch .unbxd_q:valid,.storeSearch__input:valid{border-bottom-left-radius:30px}}@media screen and (max-width:767px){.storeSearch{background-color:#f5f6f7}}@media screen and (max-width:768px){.storeSearch__container{margin-left:20px;margin-right:20px}}@media print{.storeSearch{display:none}}.unbxd-as-wrapper{position:absolute;z-index:3;width:calc(100% - 870px);min-width:845px;background-color:#FFFFFF;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);box-shadow:0 5px 10px rgba(0, 0, 0, 0.2)}
.unbxd-as-wrapper[style*=width]{height:770px;border-bottom:5px solid #231F20}