	/*MEDIA BLOCKS*/
    
/*.storeBannerMediaBlocks__block{*/
/*	height: 175px !important;*/
/*}*/
    

.storeBannerMediaBlocks__block-button {
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    bottom: 42px !important;
    left: 45px !important;
    width: calc(100% - 88px) !important;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.85);
    border: 3px solid #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.35);
    cursor: pointer;
}


@media (max-width: 414px){
	.categoryMediaBlocks__block-button {
		width: calc(100% - 50px) !important;
		bottom: 15px !important;
	    left: 25px !important;
		}
	}
    
.categoryMediaBlocks__block-button__link-title{

	font-size: 1.125em !important;
}    
    
    
@media screen and (max-width: 768px){
.storeBannerMediaBlocks__block {
    height: 317px !important;
	width: 200px;
	margin-right: 40px;
	}
}


.storeBannerMediaBlocks__block-button__link {
    display: block;
    padding: 35px 30px 20px 40px;
    box-sizing: border-box;
}

.storeBannerMediaBlocks__block{
	float: left;	
}
    
	
.storeBannerMediaBlocks__block:nth-child(2) ~ * {
    /*margin-top: 20px; */
    margin-left: 34px;
}

.storeBannerMediaBlocks__block:nth-child(2) ~ *{
	margin-top: 0;
}

.storeBannerMediaBlocks__block:nth-child(2n){
	margin-left: 34px;
	
}


.storeBannerMediaBlocks__block-b
utton{
	width: calc(100% - 88px) !important;
}


@media screen and (max-width: 1024px)
.storeBannerMediaBlocks__block-button__link {
    padding: 16px 30px 15px 23px;
}

.storeBannerMediaBlocks ul{list-style:none}.storeBannerMediaBlocks__block{-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;width:calc(50% - 17px);float:left;/*margin-right:20px*/ margin-right:0;position:relative;height:175px}


.storeBannerMediaBlocks__block:nth-child(2n){margin-right:0; margin-left: 34px;}.storeBannerMediaBlocks__block:nth-child(2n+1){clear:none; /*clear:left*/}.storeBannerMediaBlocks__block:nth-child(2) ~ *{margin-top:0; /*margin-top:20px*/}@media (max-width: 767px){.storeBannerMediaBlocks__block{width:calc(100% - 0px)}.storeBannerMediaBlocks__block:nth-child(n){margin-right:10px;clear:none}.storeBannerMediaBlocks__block:nth-child(1n){margin-right:0}.storeBannerMediaBlocks__block:nth-child(1n+1){clear:both}.storeBannerMediaBlocks__block:nth-child(1) ~ *{margin-top:10px}}.storeBannerMediaBlocks__block--small{height:248px}.storeBannerMediaBlocks__block-bg{-webkit-background-size:cover;-moz-background-size:cover;background-size:cover;background-position:50% 50%;background-repeat:no-repeat;height:100%}

.storeBannerMediaBlocks__block-button{-webkit-transition:background-color .2s ease;-moz-transition:background-color .2s ease;-o-transition:background-color .2s ease;transition:background-color .2s ease;position:absolute;bottom:51px !important;left:43px !important;width:calc(100% - 88px);box-sizing:border-box;background-color:rgba(255,255,255,0.85);border:3px solid #fff;box-shadow:0 0 15px rgba(0,0,0,0.35);cursor:pointer}






.storeBannerMediaBlocks__block-button__link{display:block;padding: 16px 30px 15px 23px;;box-sizing:border-box}.storeBannerMediaBlocks__block-button__link:focus{background-color:#fff}.storeBannerMediaBlocks__block-button__link:focus:before{width:32px;background-color:#E50914}.storeBannerMediaBlocks__block-button__link:focus .storeBannerMediaBlocks__block-button__link-arrow{right:9px;color:#fff}.storeBannerMediaBlocks__block-button__link:before{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;content:'';position:absolute;top:-3px;right:-3px;width:22px;height:100%;padding-top:3px;padding-bottom:3px;background-color:#fff}.storeBannerMediaBlocks__block-button__link-arrow{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;position:absolute;top:50%;right:4px;font-size:12px !important;color:#E50914}.storeBannerMediaBlocks__block-button__link-title{font-family:Gotham A,Gotham B, 'Montserrat';font-weight:500;font-style:normal;font-size:1.425em;line-height:1.3230769231em;color:#231F20}

@media screen and (max-width: 1024px){.storeBannerMediaBlocks__block-button__link-title{font-size:1.4125em;line-height:1.2771428571em;letter-spacing:-.015em}}

@media screen and (max-width: 414px){.storeBannerMediaBlocks__block-button__link-title{font-size:1.0625em;line-height:1.2829411765em}}.storeBannerMediaBlocks__block-button__link-desc{font-size:1em;line-height:1.25em;margin-top:10px;color:#727779}.storeBannerMediaBlocks__block-button__video-play{-webkit-transition:background-color .2s ease;-moz-transition:background-color .2s ease;-o-transition:background-color .2s ease;transition:background-color .2s ease;position:absolute;top:0;left:0;width:102px;height:100%;background-color:#A2A9AD}.storeBannerMediaBlocks__block-button__video-play button{margin-top:21px;margin-left:22px}.storeBannerMediaBlocks__block-button__video-play button:focus{box-shadow:0 0 12px rgba(0,0,0,0.35),0 0 0 2px #E50914 inset}.storeBannerMediaBlocks__block-button__video-meta{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);position:absolute;top:50%;right:0;width:calc(100% - 102px);padding-left:25px;padding-right:25px;box-sizing:border-box}.storeBannerMediaBlocks__block-button__video-meta-title{font-family:Gotham A,Gotham B, 'Montserrat';font-weight:500;font-style:normal;font-size:1.125em;line-height:1.2444444444em;color:#231F20}.storeBannerMediaBlocks__block-button__video-meta-timestamp{margin-top:4px;color:#E50914}.storeBannerMediaBlocks__block-button__video-meta-timestamp:before{content:url(./SkinSource/Images/ui/icon-clock.svg);display:inline-block;margin-right:10px;vertical-align:text-top}.storeBannerMediaBlocks__block-button:hover,.storeBannerMediaBlocks__block-button:focus{background-color:#fff}.storeBannerMediaBlocks__block-button:hover .storeBannerMediaBlocks__block-button__link:before,.storeBannerMediaBlocks__block-button:focus .storeBannerMediaBlocks__block-button__link:before{width:32px;background-color:#A2A9AD}.storeBannerMediaBlocks__block-button:hover .storeBannerMediaBlocks__block-button__link-arrow,.storeBannerMediaBlocks__block-button:focus .storeBannerMediaBlocks__block-button__link-arrow{right:9px;color:#fff}.storeBannerMediaBlocks__block-button:hover .storeBannerMediaBlocks__block-button__video-play,.storeBannerMediaBlocks__block-button:focus .storeBannerMediaBlocks__block-button__video-play{background-color:#231F20}.storeBannerMediaBlocks__block--type-video .storeBannerMediaBlocks__block-button{height:102px}.storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button{height:88px}.storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button__video-play{width:68px}.storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button__video-play .button-play{width:36px;height:36px;margin-left:17px;margin-top:24px;background-size:7px 10px}.storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button__video-meta{width:calc(100% - 68px);padding:0 16px}.storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button__video-meta-title{font-size:.9375em}.storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button__video-meta-timestamp{font-size:.75em}.storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button__video-meta-timestamp:before{content:url(./SkinSource/Images/ui/icon-clock-sm.svg);position:relative;margin-right:6px}.storeBannerMediaBlocks__showMore{display:none}

@media screen and (max-width: 1024px){.storeBannerMediaBlocks__block{height:200px}.storeBannerMediaBlocks__block-button__link{padding:30px 30px 15px 20px}.storeBannerMediaBlocks__block-button__link-desc{font-size:.8125em;line-height:1.1038461538em}.storeBannerMediaBlocks__block-button__video-play{width:80px}.storeBannerMediaBlocks__block-button__video-play button{height:43px;width:43px;margin-top:16px;margin-left:18px}.storeBannerMediaBlocks__block-button__video-meta{width:calc(100% - 80px);padding-left:20px;padding-right:20px}.storeBannerMediaBlocks__block-button__video-meta-title{font-size:.9375em;line-height:1.2973333333em}.storeBannerMediaBlocks__block-button__video-meta-timestamp{font-size:.8125em}.storeBannerMediaBlocks__block-button__video-meta-timestamp:before{content:url(./SkinSource/Images/ui/icon-clock-sm.svg);position:relative;top:1px;margin-right:6px}.storeBannerMediaBlocks__block--type-video .storeBannerMediaBlocks__block-button{height:100px}}




@media screen and (min-width: 768px) and (max-width: 880px){.storeBannerMediaBlocks__block-button__video-play{width:0}.storeBannerMediaBlocks__block-button__video-play button{margin-left:-21px}.storeBannerMediaBlocks__block-button__video-meta{width:calc(100% - 21px)}.storeBannerMediaBlocks__block-button__video-meta-title{font-size:.8125em;line-height:1.2430769231em}}






@media screen and (max-width: 768px){.storeBannerMediaBlocks ul:not(.productCarousel__products):not(.slick-controls){max-width:465px;margin:0 auto}

.storeBannerMediaBlocks__block{height:317px; width: 200px; margin-right: 40px;}

.storeBannerMediaBlocks__block-button{bottom:10px;left:10px;width:calc(100% - 20px)}.storeBannerMediaBlocks__block-button__video-play{width:64px}.storeBannerMediaBlocks__block-button__video-play button{margin-top:9px;margin-left:10px}.storeBannerMediaBlocks__block-button__video-meta{width:calc(100% - 64px);padding-left:15px;padding-right:15px}.storeBannerMediaBlocks__block-button__video-meta-title{font-size:.8125em;line-height:1.2430769231em}.storeBannerMediaBlocks__block-button__video-meta-timestamp{display:none}.storeBannerMediaBlocks__block--type-video .storeBannerMediaBlocks__block-button{height:66px}.storeBannerMediaBlocks#featured_videos .productCarousel__products{padding-left:0px;padding-right:0px}.storeBannerMediaBlocks#featured_lesson_plans ul{max-width:100%}}



@media screen and (max-width: 414px){.storeBannerMediaBlocks{background-color:transparent}.storeBannerMediaBlocks .storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small

.storeBannerMediaBlocks__block-button{height:65px;bottom:15px; left: 25px !important; width: calc(100% - 50px) !important;}

.storeBannerMediaBlocks .storeBannerMediaBlocks__block--type-video.storeBannerMediaBlocks__block--small .storeBannerMediaBlocks__block-button__video-play .button-play{margin-top:12px}.storeBannerMediaBlocks#featured_lesson_plans .storeBannerMediaBlocks__block-button{bottom:13px}.storeBannerMediaBlocks#featured_lesson_plans .storeBannerMediaBlocks__block-button__link:before{width:14px}.storeBannerMediaBlocks#featured_lesson_plans .storeBannerMediaBlocks__block-button__link-desc{display:block;display:-webkit-box;height:calc(13px * (14.35/13) * 2);overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin-top:3px}.storeBannerMediaBlocks#featured_lesson_plans .storeBannerMediaBlocks__block-button__link-arrow{font-size:.625em !important;right:0px}}





@media print{.storeBannerMediaBlocks{display:none !important}}
	