.cartLink{
    position: relative;
    width: 85px;
    float: left;
    text-align: right;
    padding-bottom: 10px;

    > a, > a:visited{
        color: is('black');
    }

    &:hover,
    &:focus{
        .cartLink__products{
            @include transition((opacity: 0.2s, top: 0.2s, z-index: 0s));
            top: 100%;
            z-index: z(element, popup);
            max-height: 368px;
            padding-top: 5px;
            opacity: 1;
        }
    }

    &__link{
        position: relative;
        height: 24px;
        padding-left: 45px;


    }

    &__icon{
        position: absolute;
        top: -4px;
        left: 0;
        display: inline-block;

        img{
            display: block;
        }

        span{
            @include fontFamily(gotham, medium);
            position: absolute;
            top: -7px;
            right: -7px;
            display: block;
            width: 20px;
            height: 20px;
            font-size: 11px;
            line-height: 20px;
            letter-spacing: -1px;
            color: is('white');
            text-align: center;
            border-radius: 50%;
            background-color: is('red');
        }
    }

    &__products{
        @include transition((opacity: 0.2s, top: 0.2s, z-index: 0s 0.2s));
        position: absolute;
        top: 60%;
        right: 0;
        z-index: z(behind);
        width: 324px;
        max-height: 0px;
        text-align: left;
        background-color: is('white');
        opacity: 0;
        overflow: hidden;

        &.open{
            @include transition((opacity: 0.2s, top: 0.2s, z-index: 0s));
            top: 100%;
            z-index: z(element, popup);
            max-height: 368px;
            padding-top: 5px;
            opacity: 1;
        }

        &:before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            width: 100%;
            background-color: is('black');
        }
    }

    &__header{
        @extend %clearfix;
        padding: 14px 18px;

        &-heading{
            float: left;
            font-weight: 500;
            color: is('black');

            + a, a:visited{
                color: is('gray');
            }
        }

        &-link{
            @include transition;
            @include fontFamily(gotham, book);
            @include fontSize(12, 16);
            float: right;
            border-bottom: 1px solid is('gray');

            &:hover{
                color: is('black');
                border-color: is('black');
            }

            &:focus{
                color: is('red');
                border-color: is('red');
            }
        }
    }

    &__items{
        list-style: none;
        height: 261px;
        overflow-y:auto;

        + a, a:visited{
            color: is('white');
        }
    }

    &__item{
        @extend %clearfix;
        position: relative;
        padding: 24px 20px 24px 40px;
        border-top: 1px solid is('gray-light');

        &-remove{
            @include transition;
            position: absolute;
            top: 50%;
            left: 9px;
            z-index: z(element, header);
            width: 16px;
            height: 16px;
            margin-top: -7px;
            background-color: is('white');
            border: 1px solid is('gray-light');
            border-radius: 50%;

            &:before,
            &:after{
                @include transition;
                @include prefixes('transform', 'rotate(45deg)');
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 1px;
                margin-left: -3.5px;
                margin-top: -.5px;
                background-color: is('red');
            }

            &:after{
                @include prefixes('transform', 'rotate(-45deg)');
            }

            &:hover,
            &:focus{
                background-color: is('red');
                border-color: is('white');

                &:before,
                &:after{
                    background-color: is('white');
                }
            }
        }

        &-link{
            display: block;

            &:hover{
                .cartLink__item-title{
                    color: is('black');
                }
            }

            &:focus{
                .cartLink__item-title{
                    color: is('red');
                    text-decoration: underline !important;
                }
            }
        }

        &-image{
            @include prefixes('transform', 'translateY(-50%)');
            position: absolute;
            top: 50%;
            left: 40px;
            width: 48px;

            img{
                display: block;
                width:100%;
                height:auto;
            }
        }

        &-title{
            @include transition;
            float:left;
            width: 59%;
            margin-left: 60px;
            font-size: em(14);
            color: is('gray-dark');
        }

        &-price{
            float: left;
            width: 18%;
            font-size: em(14);
            font-weight: 500;
            line-height: em(38, 14);
            color: is('black');
            text-align: right;
        }
    }

    &__checkout{
        @include transition;
        @include fontFamily(gotham, bold);
        @include fontSize(12);
        display: block;
        color: is('white');
        text-transform: uppercase;
        text-align: center;

        &:hover,
        &:focus{
            background-color: is('red');
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .cartLink{
        width: 34px;
        padding-bottom: 28px;

        &__link{
            padding-left: 34px;
            font-size: em(16);

            > span{
                display: none;
            }
        }

        &__icon{
            top: 0px;
            width: 100%;

            span{
                right: -11px;
                width: 23px;
                height: 23px;
                font-size: em(14);
                line-height: 23px;
            }

            img{
                width: 100%;
            }
        }
    }
}

@include breakpoint(980){
    .cartLink{
        position: absolute;
        float: none;
        right: 50px;
    }
}

@include breakpoint(tablet-portrait){
    .cartLink{
        right: 20px;

        &__link{
            padding-left: 24px;
        }

        &__icon{
            span{
                width: 18px;
                height: 18px;
                font-size: em(11);
                line-height: 18px;
            }
        }

        &:hover,
        &:focus{
            .cartLink__products{
                display: none;
            }
        }

        &__products{
            display:none;
        }
    }
}

//────────────────────────────────────────────────────┘