<div id="headerCartPane" class="cartLink" runat="server">
    <a href="#" class="cartLink__link header__middle-link" aria-expanded="false" aria-controls="minicart">
        <i class="cartLink__icon">
            <img src="../SkinSource/Images/ui/icon-cart.svg" alt="Blick Cart">
            <span>3</span>
        </i>

        <span>Cart</span>
    </a>

    <div id="minicart" class="cartLink__products" role="dialog" tabindex="-1">
        <header class="cartLink__header" tabindex="-1">
            <p class="cartLink__header-heading" tabindex="-1">Your Shopping Cart</p>
            <a href="#" class="cartLink__header-link" title="View Cart" tabindex="-1">View Cart</a>
        </header>

        <ul class="cartLink__items" tabindex="-1">
            <li class="cartLink__item" tabindex="-1">
                <button type="button" class="cartLink__item-remove" tabindex="-1"></button>
                <a href="" class="cartLink__item-link" title="Tombow Dual Brush Pens and Sets" tabindex="-1">
                    <figure class="cartLink__item-image" tabindex="-1">
                        <img src="../SkinSource/Images/products/brush-pens.png" alt="Tombow Dual Brush Pens and Sets">
                    </figure>

                    <p class="cartLink__item-title" tabindex="-1">Tombow Dual Brush Pens and Sets</p>
                    <p class="cartLink__item-price" tabindex="-1">$16.75</p>
                </a>
            </li>

            <li class="cartLink__item">
                <button type="button" class="cartLink__item-remove" tabindex="-1"></button>
                <a href="" class="cartLink__item-link" title="Faber-Castell Pitt Big Brush Artist Pens" tabindex="-1">
                    <figure class="cartLink__item-image" tabindex="-1">
                        <img src="../SkinSource/Images/products/big-brush-pens.png" alt="Faber-Castell Pitt Big Brush Artist Pens" tabindex="-1">
                    </figure>

                    <p class="cartLink__item-title" tabindex="-1">Faber-Castell Pitt Big Brush Artist Pens</p>
                    <p class="cartLink__item-price" tabindex="-1">$3.73</p>
                </a>
            </li>

            <li class="cartLink__item" tabindex="-1">
                <button type="button" class="cartLink__item-remove" tabindex="-1"></button>
                <a href="" class="cartLink__item-link" title="Prismacolor Premier Double-ended Brush..." tabindex="-1">
                    <figure class="cartLink__item-image" tabindex="-1">
                        <img src="../SkinSource/Images/products/double-ended-brush.png" tabindex="-1" alt="Prismacolor Premier Double-ended Brush...">
                    </figure>

                    <p class="cartLink__item-title" tabindex="-1">Prismacolor Premier Double-ended Brush...</p>
                    <p class="cartLink__item-price" tabindex="-1">$21.22</p>
                </a>
            </li>

            <li class="cartLink__item" tabindex="-1">
                <button type="button" class="cartLink__item-remove" tabindex="-1"></button>
                <a href="" class="cartLink__item-link" title="Faber-Castell Pitt Big Brush Artist Pens" tabindex="-1">
                    <figure class="cartLink__item-image" tabindex="-1">
                        <img src="../SkinSource/Images/products/big-brush-pens.png" tabindex="-1" alt="Faber-Castell Pitt Big Brush Artist Pens">
                    </figure>

                    <p class="cartLink__item-title" tabindex="-1">Faber-Castell Pitt Big Brush Artist Pens</p>
                    <p class="cartLink__item-price" tabindex="-1">$3.73</p>
                </a>
            </li>
        </ul>

        <a href="#" class="cartLink__checkout bg-gray padding-y-sm" tabindex="-1" title="Checkout">
            Checkout – $41.70
        </a>
    </div>
</div>