<div id="headerMainNavPane" class="header__bottom bg-black" runat="server">
    <div class="contain-full">
        <nav class="mainNav">
            <ul class="mainNav__menu">
                <li class="mainNav__menu-item mainNav__submenu-hover js-main-submenu_hover" aria-expanded="false" aria-controls="mainSub1">
                    <a href="#" class="mainNav__menu-link" title="Paint">Paint</a>

                    <div id="mainSub1" class="mainNav__submenu">
                        <div class="contain">
                            <div class="mainNav__submenu-column">
                                <h5 class="mainNav__submenu-heading">Top Categories</h5>

                                <ul class="mainNav__submenu-items">
                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Acrylic And Oil Brushes">Acrylic And Oil Brushes</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Ceramic And Glazing Brushes</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Decorative And Miniature Brushes</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lettering Brushes</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Paint Rollers</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Painting And Palette Knives</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Varnish And Gesso Brushes</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Watercolor Brushes</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Cosectetuer Adipiscing</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Sed Diam Nonummy</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lorem Ipsum Dolor</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mainNav__submenu-column">
                                <!-- <h5 class="mainNav__submenu-heading">Featured Products</h5> -->

                                <ul class="mainNav__submenu-items">
                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lorem Ipsum Dolor</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Consectetuer Adipiscing</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Sed Diam Nonummy</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lorem Ipsum Dolor</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Consectetuer Adipiscing</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Sed Diam Nonummy</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lorem Ipsum Dolor</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Consectetuer Adipiscing</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Sed Diam Nonummy</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mainNav__submenu-column">
                                <h5 class="mainNav__submenu-heading">Top Brands</h5>

                                <ul class="mainNav__submenu-items">
                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lorem Ipsum Dolor</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Consectetuer Adipiscing</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Sed Diam Nonummy</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lorem Ipsum Dolor</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Consectetuer Adipiscing</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Sed Diam Nonummy</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lorem Ipsum Dolor</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Consectetuer Adipiscing</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Sed Diam Nonummy</a>
                                    </li>

                                    <li class="mainNav__submenu-item">
                                        <a href="" class="mainNav__submenu-link" title="Link">Lorem Ipsum Dolor</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mainNav__submenu-column">
                                <h5 class="mainNav__submenu-heading">Featured Special</h5>

                                <a href="#" class="promoBlock margin-y-sm" style="background-image:url('../SkinSource/Images/backgrounds/bg-brushes.png')" title="Shop Now!">
                                    <div class="promoBlock__content promoBlock__content--position-top">
                                        <h4 class="promoBlock__heading">Sale</h4>
                                        <p class="promoBlock__message">Silver Brush Ruby Satin Synthetic Brushes</p>
                                        <p class="promoBlock__link">SHOP NOW</p>
                                    </div>
                                </a>

                                <a href="#" class="mainNav__submenu-link mainNav__submenu-link--standalone" title="Shop All Lorem">Shop All Lorem</a>
                                <a href="#" class="mainNav__submenu-link mainNav__submenu-link--standalone" title="Shop Dolor Lorem">Shop Dolor Ipsum</a>
                            </div>
                        </div>
                    </div>
                </li>


                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Canvas">Canvas</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Brushes">Brushes</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Framing">Framing</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Drawing">Drawing</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Paper">Paper</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Furniture">Furniture</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Presentation">Presentation</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Crafts">Crafts</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Sculpture">Sculpture</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Sculpture">Studio</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Sculpture">Printmaking</a>
                </li>

                <li class="mainNav__menu-item">
                    <a href="#" class="mainNav__menu-link" title="Sculpture">Resources</a>
                </li>
            </ul>

            <div class="mainNav__dump-hover" aria-expanded="false" aria-controls="mainNavDump">
                <div class="mainNav__dump-hover-link mainNav__link">+ More Supplies</div>

                <ul id="mainNavDump" class="mainNav__dump">
                    <li class="mainNav__dump-item">
                        <a href="#" class="mainNav__dump-link" title="Link">Presentation</a>
                    </li>

                    <li class="mainNav__dump-item">
                        <a href="#" class="mainNav__dump-link" title="Link">Crafts</a>
                    </li>

                    <li class="mainNav__dump-item">
                        <a href="#" class="mainNav__dump-link" title="Link">Sculpture</a>
                    </li>

                    <li class="mainNav__dump-item">
                        <a href="#" class="mainNav__dump-link" title="Link">Studio</a>
                    </li>

                    <li class="mainNav__dump-item">
                        <a href="#" class="mainNav__dump-link" title="Link">Printmaking</a>
                    </li>

                    <li class="mainNav__dump-item">
                        <a href="#" class="mainNav__dump-link" title="Link">Resources</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>