.header__middle{
    background-color: is('white');

    &-link{
        @include fontFamily(gotham, medium);
        @include transition(color);
        display: inline-block;
        margin-top: 38px;
        font-size: em(16);

        &:hover{
            color: is('red');
        }

        // &:focus, > a:focus{
        //     @include transition(none);
        //     color: is('white') !important;
        //     background-color: is('red') !important;
        //     box-shadow: 0 0 0 5px is('red');
        // }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .header__middle{
        &-link {
            margin-top: 21px;

            > a{
                display: block;
                font-size: 0;
            }

            + a{
                font-size: 0;
            }
        }
    }
}

@include breakpoint(980){
    .header__middle{
        .contain-full{
            padding-bottom: 52px;
        }
    }
}


@include breakpoint(tablet-portrait){
    .header__middle{
        .contain-full{
            padding-left: 20px;
            padding-right: 20px;
        }

        &-link{
            margin-top: 12px;
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .header__middle{
            margin-top: -20px;

            &-link{
                margin-top: 50px;
            }
        }
    }


//────────────────────────────────────────────────────┘