.popoutNav{
    width: 20px;
    float: left;

    &__popout{
        @include transition(box-shadow);
        position: absolute;
        top: 0;
        left: -380px;
        z-index: z(element, menu);
        width: 380px;
        height: 100vh;
        background-color: is('gray-lighter');
        z-index: 99999;

        &--is-open{
            height: 100vh;

            .page__content,
            #webPageContent{
                position:relative;
                z-index: -1;
            }

            .popNav__popout{
                box-shadow: 0 0 20px rgba(#000, 0.5);
            }

            [class^="page__"]{
                @include prefixes('transform', 'translateX(380px)');
            }

            .page__overlay{
                @include transition((opacity:0.3s 0.05s, transform:0.3s));
                z-index: z(element, overlay);
                opacity: 0.65;
            }
        }

        &-trigger{
            position: relative;
            height: 15px;
            margin-top: 39px;
            cursor: pointer;

            &,
            &:before,
            &:after{
                @include transition(background-color);
                width: 20px;
                background-color: is('black');
            }

            &:hover,
            &:focus{
                &,
                &:before,
                &:after{
                    background-color: is('red');
                    text-decoration: none;
                }
            }

            &:before,
            &:after{
                content: '';
                position: absolute;
                left: 0;
                height: 3px;
            }

            &:before{
                top: 0;
                border-bottom: 3px solid is('white');
            }

            &:after{
                bottom: 0;
                border-top: 3px solid is('white');
            }
        }

        &-top{
            position: relative;
            padding: 20px;
            background-color: is('black');

            > a, > a:visited{
                color: #E4E8E9;

                &:hover,
                &:focus{
                    color: is('red');
                    text-decoration: none;

                    span:before{
                        content:url('./SkinSource/Images/ui/icon-phone-red-md.svg');
                    }
                }
            }

            button{
                float: right;
                height: 20px;
                width: 20px;
            }
        }

        &-phone{
            @include fontFamily(gotham, book);
            position: relative;
            padding-left: 25px;
            font-size: em(16);

            span[aria-hidden="true"]{
                position: absolute;
                top: 2px;
                left: 0;

                &:before{
                    content:url('./SkinSource/Images/ui/icon-phone-md.svg');
                    position: absolute;
                    left: 0;
                }
            }
        }

        &-closer{
            span[aria-hidden="true"]{
                position: absolute;
                top: 17px;
                right: 20px;
                width: 20px;
                height: 20px;
                cursor: pointer;

                &:before,
                &:after{
                    @include transition(background-color);
                    content: '';
                    position: absolute;
                    top: 9px;
                    left: 0;
                    width: 20px;
                    height: 3px;
                    background-color: is('white');
                }

                &:before{
                    @include prefixes('transform', 'rotate(-45deg)');
                }

                &:after{
                    @include prefixes('transform', 'rotate(45deg)');
                }
            }



            &:hover span[aria-hidden="true"],
            &:focus span[aria-hidden="true"]{
                &:before,
                &:after{
                    background-color: is('red');
                    text-decoration: none;
                }
            }
        }

        &-menu,
        &-submenu{
            &-item{
                > a{
                    color: is('black');
                }
            }

            &-link{
                @include fontFamily(gotham, medium);
                @include fontSize(14, 16.8);
                display: block;
                padding: 20px 55px 20px 30px;
                text-transform: uppercase;

                // &:focus{
                //     background-color: is('red');
                //     color: is('white');
                // }
            }
        }

        &-submenu,
        &-subsubmenu{
            display: none;

            &.open{
                display: block;
            }

            &-toggler{
                position: relative;
                cursor: pointer;

                span[aria-hidden="true"]{
                    &:after{
                        @include transition;
                        content: '\f078';
                        position: absolute;
                        top: 13px;
                        right: 15px;
                        display: block;
                        width: 24px;
                        height: 24px;
                        font-family: 'fontawesome';
                        line-height: 24px;
                        text-align: center;
                        border-radius: 50%;
                    }
                }
            }

            &--is-open{
                > a{
                    span[aria-hidden='true']:after{
                        @include prefixes('transform', 'rotate(180deg)');
                        @include prefixes('transform-origin', '50% 50%');
                    }
                }
            }
        }

        &-menu{
            position: absolute;
            top: 56px;
            left: 0;
            width: 100%;
            height: calc(100% - 56px);
            overflow: auto;

            &-item{
                &:last-child{
                    .popoutNav__popout-submenu{
                        border-bottom: 2px solid is('gray-light');
                    }
                }
            }

            &-link{
                background-color: is('gray-lighter');
                border-bottom: 2px solid is('gray-light');

                &:focus{
                    background-color: darken(is('gray-lighter'), 10);
                }
            }
        }

        &-submenu{
            background-color: is('white');

            &-toggler{
                @include transition(background-color);

                span[aria-hidden="true"]:after{
                    color: is('red');
                    background-color: is('white');
                    border: 3px solid is('gray-light');
                }

                &:hover{
                    background-color: darken(is('gray-lighter'), 3);
                    text-decoration: none;
                }
            }

            &--is-open{
                &:not(:last-child){
                    border-bottom: 2px solid is('gray-light');
                }
            }

            &-item{
                &--has-image{
                    .popoutNav__popout-subsubmenu{
                        &-toggler{
                            span[aria-hidden="true"]:after{
                                top: 29px;
                            }
                        }

                        &-item,
                        &-anchor{
                            padding-left:110px !important;
                        }
                    }
                }
            }

            &-link{
                &__image{
                    position: relative;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: darken(is('gray-lighter'), 4);
                    vertical-align: middle;

                    img{
                        @include prefixes('transform', 'translateX(-50%) translateY(-50%)');
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        display: block;
                        width: auto;
                        height: auto;
                        max-width: 70px;
                        max-height: 70px;
                    }

                    + span{
                        display: inline-block;
                        margin-left: 25px;
                        vertical-align: middle;
                    }
                }
            }
        }

        &-subsubmenu{
            @include transition(box-shadow);
            padding-bottom:35px;
            box-shadow: 0 0 0 2px transparent;

            &-toggler{
                @include transition(color);

                span:after{
                    color: is('gray');
                    border: 3px solid transparent;
                }

                &:hover,
                &:focus{
                    color: is('red');
                    text-decoration: none;

                    span[aria-hidden="true"]:after{
                        color: is('red');
                    }
                }
            }

            &--is-open{
                box-shadow: 0 0 0 2px is('gray-light');
            }

            &-item,
            &-anchor{
                padding-left: 30px;
                padding-right: 30px;

                > a, > a:visited{
                    color: is('gray-dark');

                    &:hover,
                    &:focus{
                        color: is('red');
                        text-decoration: none;
                    }
                }
            }

            &-item{
                margin-bottom: 10px;
            }

            &-link{
                @include fontFamily(gotham, book);
                @include fontSize(14, 18);
                @include transition(color);
            }

            &-anchor{
                margin-top:20px;

                &__link{
                    @include fontFamily(gotham, medium);
                    @include fontSize(12, 14.4);
                    @include transition((color, border-color));
                    padding-bottom: 2px;
                    color: is('black');
                    text-transform: uppercase;
                    border-bottom: 1px solid is('black');

                    &:hover,
                    &:focus{
                        color: is('red');
                        border-color: is('red');
                        text-decoration: none;
                    }
                }
            }
        }
    }

    ul,li,a{
        @extend %noTextHighlighting;
    }

    &__hidden{
        position: absolute;
        bottom: 0;
        opacity: 0;

        &:focus{
            background-color: is('red');
        }
    }
}


//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .popoutNav{
        &__popout{
            &-trigger{
                margin-top: 30px;
            }
        }
    }
}

@include breakpoint(tablet-portrait){
    .popoutNav{
        &__popout{
            &-trigger{
                margin-top: 17px;
            }
        }
    }
}

@include breakpoint(large-phone){
    .popoutNav{
        &__popout{
            top:0;
        }
    }
}

@include breakpoint(average-phone){
    .popoutNav{
        &__popout{
            left: -320px;
            width: 320px;

            &--is-open{
                [class^="page__"]{
                    @include prefixes('transform', 'translateX(320px)');
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .popoutNav{
            display: none;
        }
    }

//────────────────────────────────────────────────────┘