//░░░░░░░░░░░░░░░░░░░░░░░░░░░
//
//    DIRECTORY
//
//    _Prefixes
//    _Transition
//    _Grid
//    _BackgroundCover
//    _PlaceholderColor
//
//░░░░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Prefixes
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

@mixin prefixes($property, $value){
	@each $prefix in -webkit-, -ms-, -o-, -moz-, '' {
		#{$prefix}#{$property}: #{$value};
	}
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Transition
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

@mixin transition($property:all, $duration:0.2s, $type:ease){
    $value:undefined;

    @if(type-of($property) == string){
        $value: $property $duration $type;
    }

    @else if(type-of($property) == list){
        $array:undefined;

        @each $attr in $property{
            $array:if($array != undefined, $array, null);
            $array: $array, $attr $duration $type;
        }

        $value:$array;
    }

    @else{
        $type:if(type-of($duration) == string, null, $type);
        $array:undefined;

        @each $attr, $time in $property{
            $array:if($array != undefined, $array, null);
            $seconds:undefined;
            $ease:undefined;

            @if(type-of($time) == string){
                $seconds:$duration;
                $ease:$time;
            }
            @else if(type-of($time) == number){
                $seconds:$time;
                $ease:$type;
            }

            @else if(type-of($time) == list){
                @if(type-of(nth($time,1)) == number and type-of(nth($time,2)) == number){
                    $seconds:nth($time, 1) nth($time, 2);
                    $ease:$type;
                }
                @else{
                    $seconds:nth($time, 1);
                    $ease:nth($time,2);
                }
            }

            $array: $array, $attr $seconds $ease;
        }

        $value:$array;
    }

    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _Grid
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

@function calcWidth($col, $gut){
	$perc: (100% / $col);

	@if( $gut == 0 ){
		@return $perc;
	}
	@else{
		$gutter: ( ceil(( $gut * ($col - 1) ) / $col ));
		@return calc(#{$perc} - #{$gutter});
	}
}

@mixin grid($columns, $gutter-x:0, $gutter-y:0, $breakpoints:undefined) {
	width:calcWidth( $columns, $gutter-x );
	float:left;
	margin-right:$gutter-x;

	&:nth-child( #{$columns}n ) {
	    margin-right: 0;
	}
	&:nth-child( #{$columns}n+1 ) {
	    clear: left;
	}
	&:nth-child( #{$columns} ) ~ * {
	    margin-top: $gutter-y;
	}

	@if( $breakpoints != undefined ) {
		@each $breakpoint, $new-grid in $breakpoints {
			$new-cols:0;
			$new-gut-x:0;
			$new-gut-y:0;

			// @error type-of( $new-grid );
			@if type-of( $new-grid ) == number {
				$new-cols:$new-grid;
				$new-gut-x:$gutter-x;
				$new-gut-y:$gutter-y;
			}
			@else {
				$new-cols:nth( $new-grid, 1 );
				$new-gut-x:if( length( $new-grid ) >= 2, nth( $new-grid, 2 ), $gutter-x );
				$new-gut-y:if( length( $new-grid ) == 3, nth( $new-grid, 3 ), $gutter-y );
			}

			@media (max-width:#{$breakpoint}px) {
				width:calcWidth( $new-cols, $new-gut-x );

				&:nth-child(n){
					margin-right:$new-gut-x;
					clear:none;
				}
				&:nth-child( #{$new-cols}n ) {
					margin-right:0;
				}
				&:nth-child( #{$new-cols}n+1 ) {
					clear:both;
				}
				&:nth-child( #{$new-cols} ) ~ * {
					margin-top:$new-gut-y;
				}
			}
		}
	}
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _BackgroundCover
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

@mixin bgCover{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    background-position:50% 50%;
    background-repeat:no-repeat;
}


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _PlaceholderColor
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

@mixin placeholderColor($color){
	&::-webkit-input-placeholder { /* WebKit browsers */
	    color: $color;
	 
	}

	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color: $color;
	    opacity: 1;
	}

	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color: $color;
	    opacity: 1;
	}

	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color: $color;
	}
}