$z-indexes:(
	behind:(),
	element:(
        header,
		dropdown,
		popup,
        overlay,
        menu,
        modal
	),
);

@function z-index($key1, $key2: null) {
    $map: $z-indexes;
    $found-index: null;
    $index: index(map-keys($map), $key1);
    $counter: -1;
    $keys: map-keys($map);

    @each $key in $keys {
      @if index(map-keys($map), $key) == index(map-keys($map), $key1) {
        @if $key2 {
          $sub-map: map-get( $map, $key1 );
          @return $counter + index($sub-map, $key2);
        } @else {
          @return $counter;
        }
      } @else {
        $counter: $counter + length( map-get( $map, $key) ) + 1;
      }
    }

    @return $found-index;
}

@function z($key1, $key2: null) {
    @return z-index($key1, $key2);
}