.ctaBlocks{
    @extend %clearfix;

    &__block{
        @include grid(3, 70px, 20px, (1200:(3, 20px, 20px), 980:(3, 0, 0), 768:(1, 10px, 10px)));
        @include transition(box-shadow);
        position: relative;
        display: block;
        height: 180px;

        &:hover{
            box-shadow: 0 0 5px rgba(#000, 0.15), 0 0 0 3px is('white') inset;
        }

        &:focus{
            box-shadow: 0 0 0 8px is('red'), 0 0 20px 5px rgba(is('red'), 0.5), 0 0 0 3px is('white') inset;
        }

        &-text,
        &-image{
            @include prefixes('transform', 'translateY(-50%)');
            position: absolute;
            top: 50%;
        }

        &-text{
            left: 0;
            width: 100%;
            padding-left: 30px;
            padding-right: 125px;
            box-sizing: border-box;

            &__heading,
            &__message{
                color: is('white');
            }

            &__heading{
                @include fontFamily(gotham, medium);
                @include fontSize(22, 26.4);
            }

            &__message{
                margin-top: 15px;
            }
        }

        &-image{
            right: -22px;
            width: 160px;
            text-align: right;

            img{
                display: inline-block;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .ctaBlocks{
        &__block{
            height: 138px;

            &-text{
                padding-right: 140px;

                &__heading{
                    @include fontSize(17, 20.16);
                }

                &__message{
                    @include fontSize(13, 14.05, -10);
                    margin-top: 10px;
                }
            }

            &-image{
                right: 20px;
                width: 108px;
            }
        }
    }
}

@include breakpoint(980){
    .ctaBlocks{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border: none;
        background-color: transparent;

        .contain{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@include between(768, 980){
    .ctaBlocks{
        &__block{
            &-text{
                &__heading{
                    font-size: em(15);
                }

                &__message{
                    font-size: em(11);
                }
            }
        }
    }
}

@include breakpoint(tablet-portrait){
    .ctaBlocks{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

        &__block{
            &-text{
                &__heading{
                    @include fontSize(21, 24.89);
                }

                &__message{
                    font-size: em(15);
                }
            }
        }
    }
}

@include breakpoint(large-phone){
    .ctaBlocks{
        &__block{
            &-text{
                max-width: 380px;

                &__heading{
                    @include fontFamily(gotham, book);
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘


//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .ctaBlocks{
            display: none !important;
        }
    }

//────────────────────────────────────────────────────┘