.departmentLinks{
    &__options{
        @extend %clearfix;
        list-style: none;

        &-item{
            text-align: center;

            @include breakpoint(415, min){
                @include grid(5, 70px, 40px, (1024:(5, 60px, 40px), 980:(4, 60px, 40px), 767:(3, 60px, 40px)));
            }
        }

        &-link{
            &__image{
                @include transition(background-color);
                position: relative;
                width: 150px;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 50%;
                background-color: darken(is('gray-lighter'), 4);

                img{
                    @include prefixes('transform', 'translateX(-50%) translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: auto;
                    height: auto;
                }

                &--type{
                    &-thumbnail{
                        img{
                            max-width: 180px;
                            max-height: 180px;
                        }
                    }

                    &-icon{
                        img{
                            max-width: 75px;
                            max-height: 75px;
                        }
                    }
                }
            }

            &__title{
                @include transition;
                @include fontFamily(gotham, medium);
                @include fontSize(18, 24);
                position: relative;
                margin-top: 20px;
                color: is('black');

                // &:after{
                //     @include transition;
                //     @include prefixes(transform, scale(0));
                //     content: '';
                //     position: absolute;
                //     top: 110%;
                //     left: 0;
                //     width: 100%;
                //     height: 2px;
                //     background-color: is('black');
                // }
            }

            &:hover{
                .departmentLinks__options-link{
                    &__image{
                        &--type{
                            &-thumbnail,
                            &-icon{
                                background-color: rgba(darken(is('gray-lighter'), 4), 0.4) !important;
                            }

                            // &-icon{
                            //     background-color: is('red');
                            // }
                        }
                    }

                    &__title{
                        text-decoration: underline !important;
                        // &:after{
                        //     @include prefixes(transform, scale(1));
                        // }
                    }
                }
            }

            &:focus{
                .departmentLinks__options-link{
                    &__image{
                        &--type{
                            &-thumbnail{
                                background-color: is('red');
                            }

                            &-icon{
                                background-color: is('red');
                            }
                        }
                    }

                    &__title{
                        text-decoration: underline !important;
                        color: is('red');
                    }
                }
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .departmentLinks{
        &__options{
            &-link{
                &__image{
                    width: 138px;
                    height: 138px;

                    &--type{
                        &-thumbnail{
                            img{
                                max-width: 155px;
                                max-height: 155px;
                            }
                        }
                    }
                }

                &__title{
                    font-size: em(17);
                }
            }
        }
    }
}

@include breakpoint(600){
    .departmentLinks{
        &__options{
            &-link{
                &__image{
                    width: 80px;
                    height: 80px;

                    &--type{
                        &-thumbnail{
                            img{
                                max-width: 90px;
                                max-height: 90px;
                            }
                        }

                        &-icon{
                            img{
                                max-width: 50px;
                                max-height: 50px;
                            }
                        }
                    }
                }

                &__title{
                    @include fontSize(12, 14.4);
                    margin-top: 10px;
                }
            }
        }
    }

    @include breakpoint(large-phone){
        .departmentLinks{
            &__options{
                width: calc(100% + 20px);
                padding-top: 10px;
                margin-left: -10px;
                white-space: nowrap;
                overflow: auto;

                &-item{
                    display: inline-block;
                    width: 100px;

                    &:first-child{
                        margin-left: 10px;
                    }

                    &:last-child{
                        margin-right: 10px;
                    }
                }
            }

            .section__header{
                &-link{
                    display: none;
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .departmentLinks{
            // page-break-before: always;
            page-break-inside: avoid;

            &.desktop-only{
                display: block !important;
            }

            &__options-item{
                @include grid(3, 20px, 20px);
            }

            &__options-link__image{
                width: 100px;
                height: 100px;

                &--type-thumbnail img{
                    max-width: 100px;
                    max-height: 100px;
                }
            }
        }
    }

//────────────────────────────────────────────────────┘