@media (max-width: 414px){
.open {
    margin-top: 10px !important;
	}
.categoryCarousel__products .slick-prev, .categoryCarousel__products .slick-next{
	margin-top: 220px;
	
	}



@media screen and (max-width: 414px){
#show-more-button {
    display: block;
    width: 100%;
	}
}

@media screen and (max-width: 414px){
#show-videos-button {
    display: block;
    width: 100%;
	}
}	


#department-show-more:hover{
	cursor: pointer;
	}

	
#departments-show-more-button{
	color: #231F20;
	text-align: center;
	text-decoration: underline;
	font-weight: 500;
	}
	
#departments-show-more-button:hover {
	cursor: pointer;
	}
	
.more-dept-content{
	display: none !important;
	}
	
.departments-border-top-gray{
	padding-top: 80px;
	border-top: 5px solid #d8d6d6;
	
}

.departmentLinks__options .smallerFont{
	
	font-size: 15px;
}

.slick-control{
	display: none;
}


//CATEGORYBANNER

.categoryBlurb span {
    color: #000;
    font-weight: 500;
    }
	

.fa-category{
    color: lightgray;
    
}

.contain .categoryBlurb{
    padding: 30px;
}

.categoryBanner{
    padding: 11px 20px 12px;
    margin-top: auto;
    text-align: center;
    box-sizing: border-box;
    background-color: #F4F4F4;
    
}

.categoryBlurb p{
    font-weight: 100;
    font-style: normal;
    /*color: #A8A8A8;*/
    color: #585858;
  /*  padding: 20px;*/
    text-align: left;   
}

.categoryBlurbLink span{
    text-decoration: underline !important;
    /*color: #000;*/
    color: #585858;
    font-weight: 100;   
}

.categoryBlurbMobile p{
    text-align: justify;
    font-weight: 100;
    font-style: normal;
    /*color: #A8A8A8;*/
    color: #585858;
  /*  padding: 20px;*/
}



.categoryBanner{
    &--has-promoBlocks{
        position: relative;

        .categoryBanner__slider{
            width: calc(100% - 300px);
        }

        .categoryBanner__promoBlocks{
            position: absolute;
            top: 0;
            right: 50px;
            width: 290px;
            height: 100%;

            @include breakpoint(tablet-landscape){
                right: 40px;
            }

            .promoBlock{
                position: absolute;
                left: 0;
                width: 100%;
                height: calc(50% - 5px);

                &:first-child{
                    top: 0;
                }

                &:last-child{
                    bottom: 0;
                }
            }
        }
    }

    &__slide{
        @include bgCover;
        position: relative;
        height: 430px;

        &:not(:first-child){
            display: none;
        }

        &-content{
            @include transition(all, 0.5s 0.2s);
            position: absolute;
            height: 293px;
            padding: 35px 32px;
            box-sizing: border-box;
            background-color: rgba(is('white'), 0.85);
            box-shadow: 0 0 15px rgba(#000, 0.35);
            opacity: 0;

            &:hover,
            &:focus{

                .categoryBanner__slide-button{
                    background-color: is('black');
                }
            }

            &--position{
                &-center{
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 403px;
                    padding-left: 38px;
                    padding-right: 38px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;

                    .categoryBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button{
                            top: -20px;
                        }

                        &-note{
                            bottom: -30px;
                            padding-left: 38px;
                            padding-right: 38px;
                        }
                    }
                }

                &-left,
                &-right{
                    top: 48px;
                    width: 303px;
                }

                &-left{
                    left: 10px;

                    .categoryBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button,
                        &-note{
                            left: -20px;
                        }
                    }
                }

                &-right{
                    right: 10px;

                    .categoryBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button,
                        &-note{
                            right: -20px;
                        }
                    }
                }
            }

            &-wrapper{
                &--position{
                    &-middle{
                        @include prefixes('transform', 'translateY(-50%)');
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        padding: 35px 32px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        &-subheading,
        &-heading,
        &-button,
        &-note{
            opacity: 0;
        }

        &-subheading,
        &-heading,
        &-note{
            @include transition(all, 0.5s 0.35s);
        }

        &-subheading,
        &-heading,
        &-button{
            position: relative;
        }

        &-subheading{
            margin-bottom: 12px;
            color: is('red');
        }

        &-heading{
            color: is('gray-darker');
            line-height: em(32.4, 26);

            + p{
                color: is('gray-darker');
            }

            + .button{
                margin-top: 26px;
                color: is('white');
            }
        }

        &-button{
            @include transition((all:(0.5s 0.35s), background-color:(0.2s)));
        }

        &-note{
            @include fontSize(12, 16.4, -20);
            @include fontFamily(gotham, medium);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 24px;
            padding-left: 32px;
            padding-right: 32px;
            text-transform: uppercase;
            box-sizing: border-box;
            color: is('gray-darker');
        }
    }

    &__tagline{
		
		+ .categoryBlurb {
	   font-weight: 100;
	   font-style: normal;
	   text-align: left;
	   }

		+ .mrmAd {
			padding: 30px;
		}

		+ .mrmAd a {
			font-weight: 100;
			font-style: normal;
			color: #909090;
			padding: 30px;
		}
		
		
        padding: 11px 20px 12px;
        margin-top: 10px;
        text-align: center;
        box-sizing: border-box;
        background-color: is('gray-lighter');

        &-text{
            @include fontFamily(gotham, medium, italic);
            @include fontSize(22, 32);
            color: is('black');

            h1{
                @include fontFamily(gotham, bold, italic);
                display: inline;
                line-height: inherit;
                color: inherit;
            }
        }
    }

    .slick-active{
        .categoryBanner__slide{
            &-content{
                opacity: 1;

                &--position{
                    &-center{
                        top: 48px;

                        .categoryBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button{
                                top: 0;
                            }

                            &-note{
                                bottom: 0;
                            }
                        }
                    }

                    &-left{
                        left: 70px;

                        .categoryBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button,
                            &-note{
                                left: 0;
                            }
                        }
                    }

                    &-right{
                        right: 70px;

                        .categoryBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button,
                            &-note{
                                right: 0;
                            }
                        }
                    }
                }
            }

            &-subheading,
            &-heading,
            &-button,
            &-note{
                opacity: 1;
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .categoryBanner{
        &__slide{
            &-heading{
                @include fontSize(22, 34.4);
            }
        }
    }
}
@include between(851, 980){
    .categoryBanner{
        &--has-promoBlocks{
            .categoryBanner{
                &__slide{
                    &-content{
                        left: 0 !important;
                        right: 0 !important;
                        width: calc(100% - 140px);
                        max-width: 404px;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;

                        &-wrapper{
                            @include prefixes('transform', 'translateY(-50%)');
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            padding: 35px 32px;
                            box-sizing: border-box;

                            &:not(:last-child){
                                top: calc(50% - 18px);
                            }
                        }
                    }
                }
            }
        }
    }
}
@include between(851, 940){
    .categoryBanner{
        &--has-promoBlocks{
            .categoryBanner{
                &__slide{
                    &-heading{
                        @include fontSize(21, 26.82, -15);
                        max-width: 250px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}
@include breakpoint(850){
    .categoryBanner{
        &--has-promoBlocks{
            .categoryBanner{
                &__slider,
                &__promoBlocks{
                    width: 100%;
                }

                &__promoBlocks{
                    position: static;
                    margin-top: 20px;

                    &:after{
                        content: '';
                        display: table;
                        clear: both;
                    }

                    .promoBlock{
                        position: relative;
                        width: calc(50% - 10px);
                        height: 240px;

                        &:first-child{
                            float: left;
                        }

                        &:last-child{
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
@include breakpoint(tablet-portrait){
    .categoryBanner{
        &__tagline{
            &-text{
                font-size: em(18);
            }
        }
    }
}
@include breakpoint(700){
    .categoryBanner{
        &--has-promoBlocks{
            .categoryBanner{
                &__promoBlocks{
                    margin-top: 10px;

                    .promoBlock{
                        width: calc(50% - 5px);
                        height: 134px;

                        &:before{
                            height: 6px;
                        }

                        &:after{
                            height: calc(100% - 6px);
                        }

                        &[style*="background"]{
                            background-image: none !important;
                            z-index: 0;

                            &:hover,
                            &:focus{
                                &:after{
                                    opacity: 0.15;
                                }
                            }

                            &:before,
                            &:after{
                                content: '';
                                position: absolute;
                                left: 0;
                                z-index: z(behind);
                                display: block;
                                width: 100%;
                                background-color: is('black');
                                opacity: 0.15;
                                mix-blend-mode: multiply;
                            }

                            &:before{
                                top: 0;
                            }

                            &:after{
                                @include transition(opacity);
                                bottom: 0;
                                top: auto;
                                opacity: 0;
                            }

                            &:first-child{
                                background-color: is('red');
                            }

                            &:last-child{
                                background-color: is('gray');
                            }
                        }

                        &__content{
                            width: 100%;
                            padding-left: 20px;
                            padding-right: 20px;
                            box-sizing: border-box;

                            &--position{
                                &-top{
                                    top: 22px;
                                }

                                &-bottom{
                                    bottom: 22px;
                                }
                            }

                            > *{
                                color: is('white');
                            }
                        }

                        &__heading{
                            @include fontFamily(gotham, medium);
                            font-size: em(19);

                            b{
                                padding-bottom: 0;
                                font-size: em(36.73, 19);
                                color: is('white');
                            }
                        }

                        &__message,
                        &__link{
                            + p{
                                margin-top:8px;
                            }
                        }

                        &__message{
                            @include fontSize(13.93, 17.98);
                            @include fontFamily(gotham, medium);
                        }

                        &__link{
                            @include fontFamily(gotham, book);
                            @include fontSize(10.13, 10.38);

                            &:after{
                                margin-top: 0;
                                border-top: 2px solid is('white');
                                border-right: 2px solid is('white');
                            }
                        }

                        &__note{
                            @include fontSize(7.6, 10.38);
                        }
                    }
                }
            }
        }

        &__slide{
            height: 370px;

            &-content{
                left: 0 !important;
                right: 0 !important;
                width: calc(100% - 140px);
                max-width: 404px;
                height: 312px;
                margin-left: auto;
                margin-right: auto;
                margin-top: -23px;
                text-align: center;

                &-wrapper{
                    @include prefixes('transform', 'translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    padding: 35px 32px;
                    box-sizing: border-box;

                    &:not(:last-child){
                        top: calc(50% - 18px);
                    }
                }
            }

            &-heading{
                @include fontSize(21, 26.82, -15);
                max-width: 250px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .slick-dots{
            bottom: 11px;
        }
    }
}
@include breakpoint(500){
    .categoryBanner{
        &__slide{
            height: 238px;

            &-content{
                height: 180px;

                &-wrapper{
                    padding: 20px 25px;

                    &:not(:last-child){
                        top: calc(50% - 10px);
                    }
                }
            }

            &-subheading{
                @include fontSize(9.36, 11.24);
                margin-bottom: 5px;
            }

            &-heading{
                @include fontSize(17, 21.81);

                + .button{
                    margin-top: 15px;
                }
            }

            &-button{
                font-size: em(8);
                min-width: 86px;
                padding: 7px 15px;
            }

            &-note{
                @include fontSize(8.03, 10.97, -20);
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 10px;
            }
        }
    }
}
@include breakpoint(large-phone){
    .categoryBanner{
        .contain{
            padding-left: 0;
            padding-right: 0;
        }

        &__tagline{
            &-text{
                font-size: em(15);
            }
        }

        &__slide{
            &-content{
                padding: 35px 0px;
                width: calc(100% - 170px);

                &-wrapper{
                    padding: 20px 15px;
                }
            }

            &-heading{
                @include fontSize(14, 21.81);
            }
        }
    }
}

//────────────────────────────────────────────────────┘


//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .categoryBanner{
            &__slider{
                width: 100% !important;

                .slick-track{
                    width: 100% !important;
                    transform: none !important;
                }
            }

            &__slide{
                height: 260px !important;
                width: 100% !important;

                &:not(:nth-child(2)){
                    display: none !important;
                }

                &-content{
                    position:relative !important;
                    display:block !important;
                    top: inherit !important;
                    left: inherit !important;
                    right: inherit !important;
                    margin-right: inherit !important;
                    margin-left: inherit !important;
                    width: 100% !important;
                    height: 260px !important;
                    opacity: 1 !important;
                    border: 2px solid is('black');
                    box-sizing: border-box !important;
                }

                &-heading,
                &-subheading,
                &-note,
                &-button{
                    opacity: 1 !important;
                }

                &-note{
                    position: relative;
                    bottom: inherit;
                    padding-bottom: 0;
                    padding-top: 24px;

                }
            }

            &--has-promoBlocks{
                .categoryBanner__promoBlocks{
                    position: relative;
                    right: inherit;
                    top: inherit;
                    width: 100%;

                    .promoBlock{
                        position :relative;
                        display: inline-block;
                        width: calc(50% - 12px);
                        height: 190px;
                        margin-right: 10px;
                        margin-left: -4px;
                        box-sizing: border-box;
                        border: 2px solid is('black');

                        + .promoBlock{
                            margin-top: 20px;
                            margin-right: 0px;
                            margin-left: 10px;
                        }

                        &__content{
                            padding-right: 20px !important;
                        }
                    }
                }
            }
        }
    }

//────────────────────────────────────────────────────┘


	
/*CATEGORY/DEPARTMENT LINKS	*/
	.categoryLinks{
		
	  + .categoryBlurb{
			  border-top: solid #d8d6d6 10px;
		}
		
    &__options{
        @extend %clearfix;
        list-style: none;

        &-item{
            text-align: center;

            @include breakpoint(415, min){
                @include grid(5, 70px, 40px, (1024:(5, 60px, 40px), 980:(4, 60px, 40px), 767:(3, 60px, 40px)));
            }
        }

        &-link{
			
		 + .smallerFont{
				font-size: 15px;
			}
			
            &__image{
                @include transition(background-color);
                position: relative;
                width: 150px;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 50%;
                background-color: darken(is('gray-lighter'), 4);

                img{
                    @include prefixes('transform', 'translateX(-50%) translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: auto;
                    height: auto;
                }

                &--type{
                    &-thumbnail{
                        img{
                            max-width: 180px;
                            max-height: 180px;
                        }
                    }

                    &-icon{
                        img{
                            max-width: 75px;
                            max-height: 75px;
                        }
                    }
                }
            }

            &__title{
                @include transition;
                @include fontFamily(gotham, medium);
                @include fontSize(18, 24);
                position: relative;
                margin-top: 20px;
                color: is('black');

                // &:after{
                //     @include transition;
                //     @include prefixes(transform, scale(0));
                //     content: '';
                //     position: absolute;
                //     top: 110%;
                //     left: 0;
                //     width: 100%;
                //     height: 2px;
                //     background-color: is('black');
                // }
            }

            &:hover{
                .categoryLinks__options-link{
                    &__image{
                        &--type{
                            &-thumbnail,
                            &-icon{
                                background-color: rgba(darken(is('gray-lighter'), 4), 0.4) !important;
                            }

                            // &-icon{
                            //     background-color: is('red');
                            // }
                        }
                    }

                    &__title{
                        text-decoration: none !important;
                        // &:after{
                        //     @include prefixes(transform, scale(1));
                        // }
                    }
                }
            }

            &:focus{
                .categoryLinks__options-link{
                    &__image{
                        &--type{
                            &-thumbnail{
                                background-color: is('red');
                            }

                            &-icon{
                                background-color: is('red');
                            }
                        }
                    }

                    &__title{
                        text-decoration: none !important;
                        color: is('red');
                    }
                }
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .categoryLinks{
        &__options{
            &-link{
                &__image{
                    width: 138px;
                    height: 138px;

                    &--type{
                        &-thumbnail{
                            img{
                                max-width: 155px;
                                max-height: 155px;
                            }
                        }
                    }
                }

                &__title{
                    font-size: em(17);
                }
            }
        }
    }
}

@include breakpoint(600){
    .categoryLinks{
        &__options{
            &-link{
                &__image{
                    width: 80px;
                    height: 80px;

                    &--type{
                        &-thumbnail{
                            img{
                                max-width: 90px;
                                max-height: 90px;
                            }
                        }

                        &-icon{
                            img{
                                max-width: 50px;
                                max-height: 50px;
                            }
                        }
                    }
                }

                &__title{
                    @include fontSize(12, 14.4);
                    margin-top: 10px;
                }
            }
        }
    }

    @include breakpoint(large-phone){
        .categoryLinks{
            &__options{
                width: calc(100% + 20px);
                padding-top: 10px;
                margin-left: -10px;
                white-space: nowrap;
                overflow: auto;

                &-item{
                    display: inline-block;
                    width: 100px;

                    &:first-child{
                        margin-left: 10px;
                    }

                    &:last-child{
                        margin-right: 10px;
                    }
                }
            }

            .section__header{
                &-link{
                    display: none;
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .categoryLinks{
            // page-break-before: always;
            page-break-inside: avoid;

            &.desktop-only{
                display: block !important;
            }

            &__options-item{
                @include grid(3, 20px, 20px);
            }

            &__options-link__image{
                width: 100px;
                height: 100px;

                &--type-thumbnail img{
                    max-width: 100px;
                    max-height: 100px;
                }
            }
        }
    }

//────────────────────────────────────────────────────┘

//FAQS

.faqs{
    &__list{
        list-style: none;

        &-item{
            position: relative;
            padding: 30px 90px 30px 40px;
            border: 1px solid is('gray-light');
            background-color: is('white');

            &:not(:first-child){
                margin-top: 20px;
            }

            &--heading{
                @extend h4;
                @include fontSize(18, 22.78);
                color: is('black');
            }

            &--body{
                @include fontSize(16, 24);
                display: none;
                margin-top: 26px;
                max-width: 780px;
            }

            &--button{
                @include transition;
                position: absolute;
                right: 40px;
                top: 20px;
                width: 30px;
                height: 30px;
                background-color: is('white');
                border: 5px solid is('gray-light');
                border-radius: 50%;

                &.open{
                    &:after{
                        @include prefixes('transform', 'rotate(0deg)');
                    }
                }

                &:hover{
                    border-color: is('black');
                }

                &:focus{
                    background-color: is('red');

                    &:before,
                    &:after{
                        background-color: is('white');
                    }
                }

                &:before,
                &:after{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 12px;
                    height: 2px;
                    margin-left: -6px;
                    margin-top: -1px;
                    background-color: is('red');
                }

                &:after{
                    @include transition;
                    @include prefixes('transform', rotate(90deg));
                }
            }
        }
    }

//─────────────────────────────────── BREAKPOINTS ────┐
    @include breakpoint(large-phone){
        &__list{
            &-item{
                padding: 20px 90px 20px 20px;

                &--button{
                    right: 20px;
                }
            }
        }
    }


//────────────────────────────────────────────────────┘
}


//CATEGORYCAROUSEL

.categoryCarousel{
    &__products{
        list-style: none;
		padding-right: 15px;

        .slick-controls{
            li{
                @include prefixes('transform', 'translateY(-50%)');
                top: 50%;
                bottom: inherit;

                &:first-child{
                    left: inherit;
                    right: 100%;
                }

                &:last-child{
                    right: inherit;
                    left: 100%;
                }
            }
        }

        .slick-prev,
        .slick-next{
            width: 40px;
            height: 40px;
            border: 5px solid is('gray-light');
            box-shadow: none;

            &:before{
                line-height: 27px;
            }

            &:hover,
            &:focus{
                border-color: is('black');
            }

            &:focus{
                background-color: is('white');

                &:before{
                    color: is('red');
                }
            }
        }

        .slick-slide{
            padding: 0 10px;
        }

        .slick-prev{

        }

        .slick-next{

        }

        &-item{
            position: relative;

            &:not(:first-child){
                display: none;
            }

            &--new,
            &--blick-brand,
            &--exclusive{
                &:before{
                    @include prefixes('transform', 'skewY(-10deg)');
                    @include fontFamily(gotham, bold);
                    @include fontSize(12);
              //      position: absolute;
              //      top: 10px;
                    left: 10px;
                    width: 63px;
                    height: 26px;
                    color: is('white');
                    text-align: center;
                    background-color: is('red');
                    z-index: z(element, overlay);
                    box-sizing: border-box;
                }
            }

            &--new{
                &:before{
                    content: "NEW";
                    padding-top: 7px;
                }
            }

            &--blick-brand{
                &:before{
                    content: "BLICK \A BRAND";
                    padding-top: 1px;
                    white-space: pre;
                }
            }

            &--exclusive{
                &:before{
                    content: "EXCLUSIVE";
                    padding-top: 8.5px;
                    font-size: em(9);
                    background-color: is('black');
                }
            }

            &:hover{
                .categoryCarousel__product-image{
                    &:before{
                        @include prefixes('transform', 'scale(1)');
                    }

                    &:after{
                        opacity: 1;
                    }
                }
            }
        }

        &-link{
            &:focus{
                .categoryCarousel__product-image{
                    &:before{
                        @include prefixes('transform', 'scale(1)');
                    }

                    &:after{
                        opacity: 1;
                    }
                }
            }
        }

        &--mobile{
            display: none;
        }
    }

    &__product{
        text-align: center;

        &-image{
            position: relative;
            height: 190px;
            text-align: center;

            &:before{
                @include prefixes('transform', 'scale(0)');
                @include transition;
                content:'';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 105px;
                height: 105px;
                margin-top: -52.5px;
                margin-left: -52.5px;
                background-color: rgba(is('white'), 0.83);
                border: 3px solid rgba(is('white'), 1);
                border-radius: 50%;
                box-sizing: border-box;
                box-shadow: 0 0 15px rgba(#000, 0.25);
                z-index: z(element, overlay);

            }

            &:after{
                @include fontFamily(gotham, bold);
                @include fontSize(16);
                @include transition;
                @include prefixes('transform', 'translate(-50%, -50%)');
                content: 'view';
                position: absolute;
                top: 50%;
                left: 50%;
                color: is('red');
                text-transform: uppercase;
                opacity: 0;
                z-index: z(element, overlay);
            }

            img{
                @include prefixes('transform', 'translate(-50%, -50%)');
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-title{
            min-height: 44px;
            margin-top: 19px;
            font-weight: 500;
            color: is('black');

            + p{
                margin-top: 10px;
            }
        }

        &-alert{
            font-size: em(14);
        }

        &-rating{
            display: block;
            list-style: none;
            margin-top: 17px;

            &-star{
                display: inline-block;

                &:not(:last-child){
                    margin-right: 1px;
                }

                &:before{
                    content: '';
                    display: block;
                    background: url('./SkinSource/Images/ui/icon-star-empty.svg') no-repeat;
                    background-size: 15px auto;
                    height: 16px;
                    width: 16px;
                }
            }

            @for $i from 1 through 5{
                &[data-rating="#{$i}"]{
                    .categoryCarousel__product-rating-star:nth-child(-n + #{$i}){
                        &:before{
                            content: '';
                            display: block;
                            background: url('./SkinSource/Images/ui/icon-star-full.svg') no-repeat;
                            background-size: 16px auto;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }

    &--brand{
        .section__header{
            margin-bottom: 0px;
        }

        + .mediaBlocks {
            .section__header{
                margin-bottom: 33px;
            }

            + .mediaBlocks{
                .section__header{
                    margin-bottom: 33px;
                }
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐
@include breakpoint(tablet-landscape){
    .categoryCarousel{
        &__products{
            padding-left: 40px;
            padding-right: 40px;

            .slick-controls{
                li{
                    &:first-child{
                        right:inherit;
                        left:0;
                    }

                    &:last-child{
                        left:inherit;
                        right:0;
                    }
                }
            }
        }
    }
}

@include breakpoint(tablet-portrait){
    .categoryCarousel{
        &__products{
            &--computer{
                padding-bottom: 60px;

                .slick-controls{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;

                    li{
                        @include prefixes(transform, none);
                        position: relative;
                        left: inherit;
                        right: inherit;
                        display: inline-block;

                        + li{
                            margin-left: 30px;
                        }
                    }
                }
            }

            &--mobile-control{
                .slick-controls{
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    text-align: center;
                    left: 0px;

                    li{
                        @include prefixes(transform, none);
                        position: relative;
                        left: inherit;
                        top: inherit;
                        right: inherit;
                        display: inline-block;

                        + li{
                            margin-left: 26px;
                        }
                    }
                }
            }
        }

        &--brand{
            padding-bottom: 60px;

            .categoryCarousel__products{
                padding: 0px;
            }
        }
    }
}

@include between(small-phone, 600){
    .categoryCarousel{
        .contain{
            padding-left: 0px;
            padding-right: 0px;
        }

        &__products{
            padding-left: 0px;
            padding-right: 0px;

            &-item > a{
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                box-shadow: 0 0 5px rgba(#000, 0.10);
            }

        }

        &__product{
            padding-top: 22px;
            padding-bottom: 15px;

            &-alert{
                padding: 5px 11px;
                font-size: em(11);
            }

            &-title + p{
                margin-top: 0px;
            }

            &-image{
                height: 113px;

                &:before,
                &:after{
                    display: none;
                }
            }

            &-rating{
                margin-top: 13px;
            }

        }

        &.categoryCarousel--brand{
            .categoryCarousel__products-item > a{
                box-shadow: none;
            }
        }
    }
}

@include breakpoint(large-phone){
    .categoryCarousel{
        &__products{
            &--computer{
                display: none;
            }

            &--mobile{
                display: block;

                + button{
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    font-size: em(14);
                    padding: 20px 15px;
                    margin-top: 10px;
                }
            }
        }

        &--brand{
            + .mediaBlocks{
                background-color: is('gray-lighter');

                .section__header{
                    padding-top: 20px;
                    margin-bottom: 13px;
                }

                + .mediaBlocks{
                    .section__header{
                        padding-top: 20px;
                        margin-bottom: 11px;
                    }
                }
            }
        }
    }
}


// @include breakpoint(average-phone){
//     .categoryCarousel{
//         &__products-item{
//             padding-left: 20px;
//             padding-right: 20px;
//         }
//     }
// }

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .categoryCarousel{
            page-break-before: always;

            .slick-track{
                width:100% !important;
                @include prefixes('transform', 'none !important');
            }

            &__products-item{
                @include prefixes('transform', 'scale(0.8)');
                width:33.3333% !important;
                height: 260px !important;
                box-sizing: border-box;
                page-break-inside: avoid;
            }
        }
    }

//────────────────────────────────────────────────────┘



//CATEGORY HERO BANNER

.categoryHero{
    text-align: center;

    &__container{
        position: relative;
        height: 250px;

        &--small{ 
            height: 150px;
        }

    }

    &__banner,
    &__graphic{
        @include bgCover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    &__banner{
        z-index: 0;

        &, &:before{
            width: 100%;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            height: 100%;
            background-color: is('black');
            opacity: 0.45;
        }

        &-title{
            @include fontFamily(gotham, medium);
            @include fontSize(40, 56.4);
            @include prefixes('transform', 'translateY(-50%)');
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: is('white');
        }
    }

    &__graphic{
        width: 445px;

        img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            max-width: calc(100% - 40px);
            height: auto;
            max-height: calc(100% - 40px);
            margin: auto;
        }

        + .categoryHero__banner{
            left: 445px;
            width: calc(100% - 445px);
        }
    }

    &__footer{
        background-color: is('gray-darker');
        padding:12px 18px 0 23px;

        // &-left{
        //     float: left;
        //
        //     &--link{
        //         &:hover,
        //         &:visited{
        //             .categoryHero__label{
        //                 color: is('gray');
        //             }
        //         }
        //
        //         &:focus{
        //             .categoryHero__label{
        //                 color: is('red');
        //             }
        //         }
        //     }
        // }

        &-right{
            float: right;

            &--link{
                @include transition;
                @include fontFamily(gotham, medium);
                @include fontSize(18, 26.4);
                position: relative;
                display: inline-block;
                padding-left: 13px;
                padding-right: 13px;
                padding-bottom: 12px;
                color: is('white');

                &:after{
                    @include transition;
                    content:'';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 2px;
                    background-color: is('red');
                }

                &:hover,
                &:visited{
                    color: is('white');

                    &:after{
                        width: 100%;
                    }
                }

                &:focus{
                    color: is('red');
                }
            }
        }
		
		

        // &--mobile {
        //     display: none;
        // }

        &--computer {
            display: block;
        }
    }

    &__arrow-right-icon.fa,
    &__arrow-left-icon.fa  {
        font-size: 12px;
        color: is('white');
    }

    &__label{
        @include transition;
        @include fontFamily(gotham, book);
        @include fontSize(14, 26.4);
        color: is('white');
        display: inline-block;
        margin: 0 8px;

        &--link{
            @include fontFamily(gotham, bold);
            margin: 0 13px;
            //
            &:hover,
            &:active,
            &:focus,
            &:visited {
                color: is('white');
            }
        }
    }

    &.categoryHero-subCategories{
        h1{
            font-size: em(50);
        }
    }

}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .categoryHero{
        &__graphic{
            width: 350px;

            + .categoryHero__banner{
                left: 350px;
                width: calc(100% - 350px);
            }
        }
    }
}
@include breakpoint(tablet-landscape){
    .categoryHero{
        &__container{
            height: 200px;
        }

        &__banner{
            &-title{
                font-size: em(35);
            }
        }

        &__graphic{
            width: 250px;

            + .categoryHero__banner{
                left: 250px;
                width: calc(100% - 250px);
            }
        }
    }
}

@include breakpoint(980){
    .categoryHero{
        &.categoryHero-subCategories{
            margin: 0px !important;

            .contain{
                padding: 0px;
            }
        }

        &__container{
            &--small{
                // height: 0;
                // display: none;
            }
        }

        &__footer{
            display: none;
            // &--mobile {
            //     display: block;
            //     padding: 7px 18px 5px 18px;
            //
            //     .categoryHero__arrow-left-icon.fa{
            //         font-size: em(15);
            //     }
            //
            //     .categoryHero__label{
            //         font-size: em(18);
            //     }
            //
            //     .categoryHero__label--link{
            //         font-size: em(14);
            //         margin-right: 0;
            //         margin-top: 2px;
            //     }
            // }

            // &--computer {
            //     display: none;
            // }
        }
    }
}

@include breakpoint(tablet-portrait){
    .categoryHero{
        &__container{
            height: 120px;
        }

        &__banner{
            &-title{
                font-size: em(28);
            }
        }

        &__graphic{
            width: 120px;

            + .categoryHero__banner{
                left: 120px;
                width: calc(100% - 120px);
            }
        }


        &__footer{
            // &--mobile {
            //     padding: 2px 18px 0 18px;
            // }
        }

    }
}
@include breakpoint(600){
    .categoryHero{

        &.categoryHero-subCategories{
            display:none;
        }

        .contain{
            padding: 0px;
        }


        &__container{
            height: 90px;
        }

        &__banner{
            &-title{
                font-size: em(22);
            }
        }

        &__graphic{
            width: 90px;

            + .categoryHero__banner{
                left: 90px;
                width: calc(100% - 90px);
            }
        }
    }
}


@include breakpoint(large-phone){
    .categoryHero{


        &__container{
            height: auto;
        }

        &__banner{
            position: relative;
            height: 90px;
        }

        &__graphic{
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 50%;

            + .categoryHero__banner{
                left: 0;
                width: 100%;
                margin-top: 10px;
            }
        }


        &-subCategories{
            .contain{
                padding: 0;
                margin: 0 !important;
            }
        }

    }
}

//────────────────────────────────────────────────────┘

//HEROBANNER = departmentBanner

.bannerWidth{
	width: 100% !important;	
	}

.departmentBanner{
    &--has-promoBlocks{
        position: relative;

        .departmentBanner__slider{
            width: calc(100% - 300px);
			height: 430px;
        }

        .departmentBanner__promoBlocks{
            position: absolute;
            top: 0;
            right: 50px;
            width: 290px;
            height: 100%;

            @include breakpoint(tablet-landscape){
                right: 40px;
            }

            .promoBlock{
                position: absolute;
                left: 0;
                width: 100%;
                height: calc(50% - 5px);

                &:first-child{
                    top: 0;
                }

                &:last-child{
                    bottom: 0;
                }
            }
        }
    }

    &__slide{
        @include bgCover;
        position: relative;
        height: 430px;

        &:not(:first-child){
            display: none;
        }

        &-content{
            @include transition(all, 0.5s 0.2s);
            position: absolute;
            height: 293px;
            padding: 35px 32px;
            box-sizing: border-box;
            background-color: rgba(is('white'), 0.85);
            box-shadow: 0 0 15px rgba(#000, 0.35);
            opacity: 0;

            &:hover,
            &:focus{

                .departmentBanner__slide-button{
                    background-color: is('black');
                }
            }

            &--position{
                &-center{
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 403px;
                    padding-left: 38px;
                    padding-right: 38px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;

                    .departmentBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button{
                            top: -20px;
                        }

                        &-note{
                            bottom: -30px;
                            padding-left: 38px;
                            padding-right: 38px;
                        }
                    }
                }

                &-left,
                &-right{
                    top: 48px;
                    width: 303px;
                }

                &-left{
                    left: 10px;

                    .departmentBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button,
                        &-note{
                            left: -20px;
                        }
                    }
                }

                &-right{
                    right: 10px;

                    .departmentBanner__slide{
                        &-subheading,
                        &-heading,
                        &-button,
                        &-note{
                            right: -20px;
                        }
                    }
                }
            }

            &-wrapper{
                &--position{
                    &-middle{
                        @include prefixes('transform', 'translateY(-50%)');
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        padding: 35px 32px;
                        box-sizing: border-box;
                    }
                }
            }
        }

        &-subheading,
        &-heading,
        &-button,
        &-note{
            opacity: 0;
        }

        &-subheading,
        &-heading,
        &-note{
            @include transition(all, 0.5s 0.35s);
        }

        &-subheading,
        &-heading,
        &-button{
            position: relative;
        }

        &-subheading{
            margin-bottom: 12px;
            color: is('red');
        }

        &-heading{
            color: is('gray-darker');
            line-height: em(32.4, 26);

            + p{
                color: is('gray-darker');
            }

            + .button{
                margin-top: 26px;
                color: is('white');
            }
        }

        &-button{
            @include transition((all:(0.5s 0.35s), background-color:(0.2s)));
        }

        &-note{
            @include fontSize(12, 16.4, -20);
            @include fontFamily(gotham, medium);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 24px;
            padding-left: 32px;
            padding-right: 32px;
            text-transform: uppercase;
            box-sizing: border-box;
            color: is('gray-darker');
        }
    }

    &__tagline{
        padding: 11px 20px 12px;
        margin-top: 10px;
        text-align: center;
        box-sizing: border-box;
        background-color: is('gray-lighter');

        &-text{
            @include fontFamily(gotham, medium, italic);
            @include fontSize(22, 32);
            color: is('black');

            h1{
                @include fontFamily(gotham, bold, italic);
                display: inline;
                line-height: inherit;
                color: inherit;
            }
        }
    }

    .slick-active{
        .departmentBanner__slide{
            &-content{
                opacity: 1;

                &--position{
                    &-center{
                        top: 48px;

                        .departmentBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button{
                                top: 0;
                            }

                            &-note{
                                bottom: 0;
                            }
                        }
                    }

                    &-left{
                        left: 70px;

                        .departmentBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button,
                            &-note{
                                left: 0;
                            }
                        }
                    }

                    &-right{
                        right: 70px;

                        .departmentBanner__slide{
                            &-subheading,
                            &-heading,
                            &-button,
                            &-note{
                                right: 0;
                            }
                        }
                    }
                }
            }

            &-subheading,
            &-heading,
            &-button,
            &-note{
                opacity: 1;
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .departmentBanner{
        &__slide{
            &-heading{
                @include fontSize(22, 34.4);
            }
        }
    }
}
@include between(851, 980){
    .departmentBanner{
        &--has-promoBlocks{
            .departmentBanner{
                &__slide{
                    &-content{
                        left: 0 !important;
                        right: 0 !important;
                        width: calc(100% - 140px);
                        max-width: 404px;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;

                        &-wrapper{
                            @include prefixes('transform', 'translateY(-50%)');
                            position: absolute;
                            top: 50%;
                            left: 0;
                            width: 100%;
                            padding: 35px 32px;
                            box-sizing: border-box;

                            &:not(:last-child){
                                top: calc(50% - 18px);
                            }
                        }
                    }
                }
            }
        }
    }
}
@include between(851, 940){
    .departmentBanner{
        &--has-promoBlocks{
            .departmentBanner{
                &__slide{
                    &-heading{
                        @include fontSize(21, 26.82, -15);
                        max-width: 250px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }
        }
    }
}
@include breakpoint(850){
    .departmentBanner{
        &--has-promoBlocks{
            .departmentBanner{
                &__slider,
                &__promoBlocks{
                    width: 100%;
                }

                &__promoBlocks{
                    position: static;
                    margin-top: 20px;

                    &:after{
                        content: '';
                        display: table;
                        clear: both;
                    }

                    .promoBlock{
                        position: relative;
                        width: calc(50% - 10px);
                        height: 240px;

                        &:first-child{
                            float: left;
                        }

                        &:last-child{
                            float: right;
                        }
                    }
                }
            }
        }
    }
}
@include breakpoint(tablet-portrait){
    .departmentBanner{
        &__tagline{
            &-text{
                font-size: em(18);
            }
        }
    }
}
@include breakpoint(700){
    .departmentBanner{
        &--has-promoBlocks{
            .departmentBanner{
                &__promoBlocks{
                    margin-top: 10px;

                    .promoBlock{
                        width: calc(50% - 5px);
                        height: 134px;

                        &:before{
                            height: 6px;
                        }

                        &:after{
                            height: calc(100% - 6px);
                        }

                        &[style*="background"]{
                            background-image: none !important;
                            z-index: 0;

                            &:hover,
                            &:focus{
                                &:after{
                                    opacity: 0.15;
                                }
                            }

                            &:before,
                            &:after{
                                content: '';
                                position: absolute;
                                left: 0;
                                z-index: z(behind);
                                display: block;
                                width: 100%;
                                background-color: is('black');
                                opacity: 0.15;
                                mix-blend-mode: multiply;
                            }

                            &:before{
                                top: 0;
                            }

                            &:after{
                                @include transition(opacity);
                                bottom: 0;
                                top: auto;
                                opacity: 0;
                            }

                            &:first-child{
                                background-color: is('red');
                            }

                            &:last-child{
                                background-color: is('gray');
                            }
                        }

                        &__content{
                            width: 100%;
                            padding-left: 20px;
                            padding-right: 20px;
                            box-sizing: border-box;

                            &--position{
                                &-top{
                                    top: 22px;
                                }

                                &-bottom{
                                    bottom: 22px;
                                }
                            }

                            > *{
                                color: is('white');
                            }
                        }

                        &__heading{
                            @include fontFamily(gotham, medium);
                            font-size: em(19);

                            b{
                                padding-bottom: 0;
                                font-size: em(36.73, 19);
                                color: is('white');
                            }
                        }

                        &__message,
                        &__link{
                            + p{
                                margin-top:8px;
                            }
                        }

                        &__message{
                            @include fontSize(13.93, 17.98);
                            @include fontFamily(gotham, medium);
                        }

                        &__link{
                            @include fontFamily(gotham, book);
                            @include fontSize(10.13, 10.38);

                            &:after{
                                margin-top: 0;
                                border-top: 2px solid is('white');
                                border-right: 2px solid is('white');
                            }
                        }

                        &__note{
                            @include fontSize(7.6, 10.38);
                        }
                    }
                }
            }
        }

        &__slide{
            height: 370px;

            &-content{
                left: 0 !important;
                right: 0 !important;
                width: calc(100% - 140px);
                max-width: 404px;
                height: 312px;
                margin-left: auto;
                margin-right: auto;
                margin-top: -23px;
                text-align: center;

                &-wrapper{
                    @include prefixes('transform', 'translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    padding: 35px 32px;
                    box-sizing: border-box;

                    &:not(:last-child){
                        top: calc(50% - 18px);
                    }
                }
            }

            &-heading{
                @include fontSize(21, 26.82, -15);
                max-width: 250px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .slick-dots{
            bottom: 11px;
        }
    }
}
@include breakpoint(500){
    .departmentBanner{
		
		&__slider{
			height: 235px;
		}
		
		
        &__slide{
            height: 238px;

            &-content{
                height: 180px;

                &-wrapper{
                    padding: 20px 25px;

                    &:not(:last-child){
                        top: calc(50% - 10px);
                    }
                }
            }

            &-subheading{
                @include fontSize(9.36, 11.24);
                margin-bottom: 5px;
            }

            &-heading{
                @include fontSize(17, 21.81);

                + .button{
                    margin-top: 15px;
                }
            }

            &-button{
                font-size: em(8);
                min-width: 86px;
                padding: 7px 15px;
            }

            &-note{
                @include fontSize(8.03, 10.97, -20);
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 10px;
            }
        }
    }
}
@include breakpoint(large-phone){
    .departmentBanner{
        .contain{
            padding-left: 0;
            padding-right: 0;
        }

        &__tagline{
            &-text{
                font-size: em(15);
            }
        }

        &__slide{
            &-content{
                padding: 35px 0px;
                width: calc(100% - 170px);

                &-wrapper{
                    padding: 20px 15px;
                }
            }

            &-heading{
                @include fontSize(14, 21.81);
            }
        }
    }
}

//────────────────────────────────────────────────────┘


//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .departmentBanner{
            &__slider{
                width: 100% !important;

                .slick-track{
                    width: 100% !important;
                    transform: none !important;
                }
            }

            &__slide{
                //height: 260px !important;
				height: 235px !important;
                width: 100% !important;

                &:not(:nth-child(2)){
                    display: none !important;
                }

                &-content{
                    position:relative !important;
                    display:block !important;
                    top: inherit !important;
                    left: inherit !important;
                    right: inherit !important;
                    margin-right: inherit !important;
                    margin-left: inherit !important;
                    width: 100% !important;
                    height: 260px !important;
                    opacity: 1 !important;
                    border: 2px solid is('black');
                    box-sizing: border-box !important;
                }

                &-heading,
                &-subheading,
                &-note,
                &-button{
                    opacity: 1 !important;
                }

                &-note{
                    position: relative;
                    bottom: inherit;
                    padding-bottom: 0;
                    padding-top: 24px;

                }
            }

            &--has-promoBlocks{
                .departmentBanner__promoBlocks{
                    position: relative;
                    right: inherit;
                    top: inherit;
                    width: 100%;

                    .promoBlock{
                        position :relative;
                        display: inline-block;
                        width: calc(50% - 12px);
                        height: 190px;
                        margin-right: 10px;
                        margin-left: -4px;
                        box-sizing: border-box;
                        border: 2px solid is('black');

                        + .promoBlock{
                            margin-top: 20px;
                            margin-right: 0px;
                            margin-left: 10px;
                        }

                        &__content{
                            padding-right: 20px !important;
                        }
                    }
                }
            }
        }
    }

//────────────────────────────────────────────────────┘

//DEPARTMENTHERO
.departmentHero{
    text-align: center;
    
    &__header{
        background-color: #313131;
		padding: 12px 18px 12px 23px;
		text-align: center;
    }

    &__container{
        position: relative;
        height: 250px;

        &--small{ 
            height: 150px;
        }

    }

    &__banner,
    &__graphic{
        @include bgCover;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    &__banner{
        z-index: 0;

        &, &:before{
            width: 100%;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            height: 100%;
            background-color: is('black');
            opacity: 0.45;
        }

        &-title{
            @include fontFamily(gotham, medium);
            @include fontSize(40, 56.4);
            @include prefixes('transform', 'translateY(-50%)');
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            padding-left: 20px;
            padding-right: 20px;
            color: is('white');
        }
    }

    &__graphic{
        width: 445px;

        img{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            max-width: calc(100% - 40px);
            height: auto;
            max-height: calc(100% - 40px);
            margin: auto;
        }

        + .departmentHero__banner{
            left: 445px;
            width: calc(100% - 445px);
        }
    }

    &__footer{
        
        &__banner{
            background-color: #eaeaea;
            padding: 12px 18px 12px 23px; /*changed */
            color: #313131 !important;
        }
        
        
        
        background-color: is('gray-darker');
        padding:12px 18px 0 23px;

        // &-left{
        //     float: left;
        //
        //     &--link{
        //         &:hover,
        //         &:visited{
        //             .departmentHero__label{
        //                 color: is('gray');
        //             }
        //         }
        //
        //         &:focus{
        //             .departmentHero__label{
        //                 color: is('red');
        //             }
        //         }
        //     }
        // }

        &-right{
            float: right;

            &--link{
                @include transition;
                @include fontFamily(gotham, medium);
                @include fontSize(14, 26.4);
                position: relative;
                display: inline-block;
                padding-left: 13px;
                padding-right: 13px;
                padding-bottom: 12px;
                color: is('#313131');

                &:after{
                    @include transition;
                    content:'';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 2px;
                    background-color: is('red');
                }

                &:hover,
                &:visited{
                    color: is('white');

                    &:after{
                        width: 100%;
                    }
                }

                &:focus{
                    color: is('red');
                }
            }
        }

        // &--mobile {
        //     display: none;
        // }

        &--computer {
            display: block;
        }
    }

    &__arrow-right-icon.fa,
    &__arrow-left-icon.fa  {
        font-size: 12px;
        color: is('white');
    }

    &__label{
        @include transition;
        @include fontFamily(gotham, book);
        @include fontSize(14, 26.4);
        color: is('white');
        display: inline-block;
        margin: 0 8px;

        &--link{
            @include fontFamily(gotham, bold);
            margin: 0 13px;
            //
            &:hover,
            &:active,
            &:focus,
            &:visited {
                color: is('white');
            }
        }
    }

    &.departmentHero-subCategories{
        h1{
            font-size: em(50);
        }
    }

}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .departmentHero{
        &__graphic{
            width: 350px;

            + .departmentHero__banner{
                left: 350px;
                width: calc(100% - 350px);
            }
        }
    }
}
@include breakpoint(tablet-landscape){
    .departmentHero{
        &__container{
            height: 200px;
        }

        &__banner{
            &-title{
                font-size: em(35);
            }
        }

        &__graphic{
            width: 250px;

            + .departmentHero__banner{
                left: 250px;
                width: calc(100% - 250px);
            }
        }
    }
}

@include breakpoint(980){
    .departmentHero{
        &.departmentHero-subCategories{
            margin: 0px !important;

            .contain{
                padding: 0px;
            }
        }

        &__container{
            &--small{
                // height: 0;
                // display: none;
            }
        }

        &__footer{
            display: none;
            // &--mobile {
            //     display: block;
            //     padding: 7px 18px 5px 18px;
            //
            //     .departmentHero__arrow-left-icon.fa{
            //         font-size: em(15);
            //     }
            //
            //     .departmentHero__label{
            //         font-size: em(18);
            //     }
            //
            //     .departmentHero__label--link{
            //         font-size: em(14);
            //         margin-right: 0;
            //         margin-top: 2px;
            //     }
            // }

            // &--computer {
            //     display: none;
            // }
        }
    }
}

@include breakpoint(tablet-portrait){
    .departmentHero{
        &__container{
            height: 120px;
        }

        &__banner{
            &-title{
                font-size: em(28);
            }
        }

        &__graphic{
            width: 120px;

            + .departmentHero__banner{
                left: 120px;
                width: calc(100% - 120px);
            }
        }


        &__footer{
            // &--mobile {
            //     padding: 2px 18px 0 18px;
            // }
        }

    }
}
@include breakpoint(600){
    .departmentHero{

        &.departmentHero-subCategories{
            display:none;
        }

        .contain{
            padding: 0px;
        }


        &__container{
            height: 90px;
        }

        &__banner{
            &-title{
                font-size: em(22);
            }
        }

        &__graphic{
            width: 90px;

            + .departmentHero__banner{
                left: 90px;
                width: calc(100% - 90px);
            }
        }
    }
}


@include breakpoint(large-phone){
    .departmentHero{


        &__container{
            height: auto;
        }

        &__banner{
            position: relative;
            height: 90px;
        }

        &__graphic{
            position: relative;
            width: 100%;
            height: 0;
            padding-top: 50%;

            + .departmentHero__banner{
                left: 0;
                width: 100%;
                margin-top: 10px;
            }
        }


        &-subCategories{
            .contain{
                padding: 0;
                margin: 0 !important;
            }
        }

    }
}

//────────────────────────────────────────────────────┘