.instagram{
    &__feed{
        @extend %clearfix;
        list-style: none;

        &-item{
            @include grid(4, 20px, 20px, (1024:3, 414:(2, 10px, 10px)));
            position: relative;

            &__grid{
                &-item{
                    @include grid(2, 20px, 20px, (414:(2, 10px, 10px)));

                    .instagram__feed-link:after{
                        width: 50px;
                        height: 50px;
                        margin-top: -25px;
                        margin-left: -25px;
                        background-size: 50px 50px;
                    }
                }
            }
        }

        &-link{
            @include bgCover;
            position: relative;
            display: block;
            padding-top: 100%;

            &:before{
                @include transition;
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: #000;
                mix-blend-mode: multiply;
            }

            &:after{
                @include transition;
                @include prefixes('transform', 'scale(0)');
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100px;
                height: 100px;
                margin-top: -50px;
                margin-left: -50px;
                background: url('https://cdn.dick-blick.com/images/homepage/icon-instagram.svg') no-repeat;
                background-size: 100px 100px;
            }

            &:hover,
            &:focus{
                &:before{
                    opacity: 0.5;
                }

                &:after{
                    @include prefixes('transform', 'scale(1)');
                }
            }
        }
    }

    ul{
        list-style: none;
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .instagram{
        &__feed{
            &-item{
                &:last-child{
                    display: none;
                }
            }
        }
    }
}
@include breakpoint(large-phone){
    .instagram{
        background-color: transparent;

        &__feed{
            &-item{
                &:nth-child(3){
                    width: 100% !important;
                }
            }

            &-link{
                &:after{
                    width: 50px;
                    height: 50px;
                    margin-top: -25px;
                    margin-left: -25px;
                    background-size: 50px 50px;
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .instagram{
            display: none !important;
        }
    }

//────────────────────────────────────────────────────┘