.mediaBlocks{
    @extend %clearfix;

    ul{
        list-style: none;
    }
    
    &__block{
        @include bgCover;
        @include grid(2, 20px, 20px, (767:(1, 10px, 10px)));
        position: relative;
        height: 175px;
        //height: 375px;

        &--small{
            height: 248px;
        }

        &-bg{
            @include bgCover;
            height: 100%;
        }

        &-button{
            -webkit-transition: background-color .2s ease;
            -moz-transition: background-color .2s ease;
            -o-transition: background-color .2s ease;
            transition: background-color .2s ease;
            position: absolute;
            bottom: 50px !important;
            left: 50px !important;
            width: calc(100% - 200px) !important;
            box-sizing: border-box;
            background-color: rgba(255,255,255,0.85);
            border: 3px solid #fff;
            box-shadow: 0 0 15px rgba(0,0,0,0.35);
            cursor: pointer;

            &__link{
                display: block;
                padding: 20px 30px 20px 40px;
                box-sizing: border-box;

                &:focus{
                    background-color: is('white');

                    &:before{
                        width: 32px;
                        background-color: is('red');
                    }

                    .mediaBlocks__block-button__link-arrow{
                        right: 9px;
                        color: is('white');
                    }
                }

                &:before{
                    @include transition;
                    content: '';
                    position: absolute;
                    top: -3px;
                    right: -3px;
                    width: 22px;
                    height: 100%;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    background-color: is('white');
                }

                &-arrow{
                    @include prefixes('transform', 'translateY(-50%)');
                    @include transition;
                    position: absolute;
                    top: 50%;
                    right: 4px;
                    font-size: 12px !important;
                    color: is('red');
                }

                &-title{
                    @include fontFamily(gotham, medium);
                    @include fontSize(18, 34.4);
                    color: is('black');

                    @include breakpoint(tablet-landscape){
                        @include fontSize(21, 26.82, -15);
                    }

                    @include breakpoint(large-phone){
                        @include fontSize(17, 21.81);
                    }
                }

                &-desc{
                    @include fontSize(16, 20);
                    margin-top: 10px;
                    color: is('gray-dark');
                }

                // &:focus{
                //     background-color: is('red');
                //      > *{
                //          color: is('white');
                //     }
                //
                //     &:before{
                //         width: 32px;
                //         background-color: is('gray');
                //     }
                //
                //     .mediaBlocks__block-button__link-arrow{
                //         right: 9px;
                //         color: is('white');
                //     }
                // }
            }

            &__video{
                &-play{
                    @include transition(background-color);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 102px;
                    height: 100%;
                    background-color: is('gray');

                    button{
                        margin-top: 21px;
                        margin-left: 22px;

                        &:focus{
                            box-shadow: 0 0 12px rgba(#000,0.35), 0 0 0 2px is('red') inset;
                        }
                    }
                }

                &-meta{
                    @include prefixes('transform', 'translateY(-50%)');
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: calc(100% - 102px);
                    padding-left: 25px;
                    padding-right: 25px;
                    box-sizing: border-box;

                    &-title{
                        @include fontFamily(gotham, medium);
                        @include fontSize(18, 22.4);
                        color: is('black');
                    }

                    &-timestamp{
                        margin-top: 4px;
                        color: is('red');

                        &:before{
                            content:url(./SkinSource/Images/ui/icon-clock.svg);
                            display: inline-block;
                            margin-right: 10px;
                            vertical-align: text-top;
                        }
                    }
                }
            }

            &:hover,
            &:focus{
                background-color: is('white');

                .mediaBlocks__block-button{
                    &__link{
                        &:before{
                            width: 32px;
                            background-color: is('gray');
                        }

                        &-arrow{
                            right: 9px;
                            color: is('white');
                        }
                    }

                    &__video{
                        &-play{
                            background-color: is('black');
                        }
                    }
                }
            }
        }

        &--type{
            &-video{

                .mediaBlocks__block{
                    &-button{
                        height: 102px;
                    }
                }

                &.mediaBlocks__block--small {
                    .mediaBlocks__block-button{
                        height: 88px;

                        &__video-play{
                            width: 68px;

                            .button-play{
                                width: 36px;
                                height: 36px;
                                margin-left: 17px;
                                margin-top: 24px;
                                background-size: 7px 10px;
                            }
                        }

                        &__video-meta{
                            width: calc(100% - 68px);
                            padding: 0 16px;

                            &-title{
                                font-size: em(15);
                            }

                            &-timestamp{
                                font-size: em(12);

                                &:before{
                                    content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
                                    position: relative;
                                    margin-right: 6px;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    &__showMore{
        display: none;
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(tablet-landscape){
    .mediaBlocks{
        &__block{
            height: 300px;

            &-button{
                &__link{
                    padding: 15px 30px 15px 20px;

                    &-desc{
                        @include fontSize(13, 14.35);
                    }
                }

                &__video{
                    &-play{
                        width: 80px;

                        button{
                            height: 43px;
                            width: 43px;
                            margin-top: 16px;
                            margin-left: 18px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 80px);
                        padding-left: 20px;
                        padding-right: 20px;

                        &-title{
                            @include fontSize(15, 19.46);
                        }

                        &-timestamp{
                            font-size: em(13);

                            &:before{
                                content:url(./SkinSource/Images/ui/icon-clock-sm.svg);
                                position: relative;
                                top: 1px;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }

            &--type{
                &-video{
                    .mediaBlocks__block{
                        &-button{
                            height: 80px;
                        }
                    }
                }
            }
        }
    }
}

@include between(768, 880){
    .mediaBlocks{
        &__block{
            &-button{
                &__video{
                    &-play{
                        width: 0;

                        button{
                            margin-left: -21px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 21px);

                        &-title{
                            @include fontSize(13, 16.16);
                        }
                    }
                }
            }
        }
    }
}

@include breakpoint(tablet-portrait){
    .mediaBlocks{
        ul:not(.productCarousel__products):not(.slick-controls){
            max-width: 465px;
            margin: 0 auto;
        }

        &__block{
            height: 217px;

            &-button{
                bottom: 10px;
                left: 10px;
                width: calc(100% - 20px);

                &__video{
                    &-play{
                        width: 64px;

                        button{
                            margin-top: 9px;
                            margin-left: 10px;
                        }
                    }

                    &-meta{
                        width: calc(100% - 64px);
                        padding-left: 15px;
                        padding-right: 15px;

                        &-title{
                            @include fontSize(13, 16.16);
                        }

                        &-timestamp{
                            display: none;
                        }
                    }
                }
            }

            &--type{
                &-video{
                    .mediaBlocks__block{
                        &-button{
                            height: 66px;
                        }
                    }
                }
            }
        }
        &#featured_videos{
            .productCarousel__products{
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        &#featured_lesson_plans{
            ul{
                max-width: 100%;
            }
        }
    }
}

@include breakpoint(large-phone){
    .mediaBlocks{
        background-color: transparent;
        .mediaBlocks__block--type-video.mediaBlocks__block--small .mediaBlocks__block-button{
            height: 65px;
            bottom: 13px;

            &__video-play{
                .button-play{
                    margin-top: 12px;
                }
            }
        }

        &#featured_lesson_plans{
            .mediaBlocks__block-button{
                bottom: 13px;

                &__link{

                    &:before{
                        width: 14px;
                    }

                    &-desc{
                        display: block;
                        display: -webkit-box;
                        height: calc(13px * (14.35/13) * 2);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        margin-top: 3px;
                    }

                    &-arrow{
                        font-size: em(10) !important;
                        right: 0px;
                    }
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .mediaBlocks{
            display: none !important;
        }
    }

//────────────────────────────────────────────────────┘