.pagination{
    margin: 0 auto;
    
    & &__item{
        @include fontFamily(gotham, medium);
        @include fontSize(14, 23);
        display: inline-block;
        width: 23px;
        height: 23px;
        color: is('black');
        border-radius: 50%;
        text-align: center;
        padding: 0;
        background: is('gray-lighter');
        margin: 4px;
        cursor: pointer;

        &-prev,
        &-next{
            @include fontFamily(gotham, medium);
            @include fontSize(14, 23);
            color: is('red');
            width: 23px;
            margin: 4px;
            cursor: pointer;
        }

        &-dot{
            cursor: pointer;
        }

        &:hover,
        &--selected{
            width: 21px;
            height: 21px;
            color: is('red');
            border: solid 1px is('gray-light');
            background: white;
        }
    }
}