.pointsCashin{
    &__wrapper,
    &__redeemList{
        @extend %clearfix;
    }

    &__column{
        &:first-child{
            width: calc(51.25% - 25px);
            float: left;
        }

        &:last-child{
            width: calc(48.75% - 25px);
            float: right;
        }

        &-heading{
            @include fontFamily(gotham, medium);
            @include fontSize(18, 20);
            margin-bottom: 45px;
            text-align: center;
            text-transform: uppercase;
            color: is('black');

            strong,
            span{
                display: inline-block;
                vertical-align: middle;
            }

            strong{
                @include fontFamily(gotham, medium);
                font-size: em(76, 18);
                color: is('red');

                sup{
                    font-size: em(45, 76);
                }

                + span{
                    margin-left: 25px;
                }
            }
        }
    }

    .section__header{
        &-paragraph{
            color: is('gray');
            padding-top: 12px;
        }
    }

    &__redeemList{
        list-style: none;

        &-item{
            @include grid(3, 20px, 20px, (768:(3, 0, 0)));
            position: relative;
            height: 250px;
            padding: 30px 20px;
            text-align: center;
            background-color: is('gray-lighter');
            border: 1px solid is('gray-light');
            box-sizing: border-box;

            &-points,
            &-dollarAmount{
                color: is('black');
            }

            &-points{
                @include fontFamily(gotham, book);
                @include fontSize(14, 18);

                strong{
                    @include fontFamily(gotham, bold);
                }
            }

            &-dollarAmount,
            &-button{
                position: absolute;
                left: 0;
                right: 0;
            }

            &-dollarAmount{
                @include fontFamily(gotham, medium);
                @include fontSize(67.43, 67.43);
                @include prefixes('transform', 'translateY(-50%)');
                top: 50%;
                margin-top: -10px;
                margin-left: -15px;

                sup{
                    @include fontFamily(gotham, book);
                    font-size: em(38, 67.43);
                }
            }

            &-button{
                bottom: 30px;
                width: 130px;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    &__table{
        &-head,
        &-row{
            @extend %clearfix;
        }

        &-head{
            background-color: is('gray-lighter');

            .pointsCashin__table{
                &-column{
                    @include fontFamily(gotham, medium);
                    height: 50px;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    color: is('black');
                    border-top: 1px solid is('gray-light');

                    &:nth-child(2){
                        .symbol{
                            display: none;
                        }

                        @include between(1201, 1259){
                            .symbol{
                                display: inline;
                            }

                            .word{
                                display: none;
                            }
                        }
                    }
                }
            }
        }

        &-row{
            .pointsCashin__table{
                &-column{
                    &:first-child{
                        @include fontFamily(gotham, medium);
                        color: is('red');
                    }
                }
            }
        }

        &-column{
            @include fontFamily(gotham, book);
            @include fontSize(14, 16.8);
            height: 40px;
            padding: 11px 18px;
            float: left;
            color: is('gray-dark');
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;
            border-bottom: 1px solid is('gray-light');

            &:not(:last-child){
                border-right: 1px solid is('gray-light');
            }

            &:first-child{
                width: 96px;
                border-left: 1px solid is('gray-light');
            }

            &:nth-child(2){
                width: calc(100% - 369px);
            }

            &:nth-child(3){
                width: 123px;
            }

            &:last-child{
                width: 150px;
                border-right: 1px solid is('gray-light');
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐

@include breakpoint(computer){
    .pointsCashin{
        &__column{
            width: 100% !important;

            + .pointsCashin__column{
                margin-top: 50px;
            }
        }
    }
}
@include breakpoint(tablet-portrait){
    .pointsCashin{
        &__redeemList{
            &-item{
                height: 200px;
                padding: 10px;

                &:not(:first-child){
                    border-left: none;
                }

                &:not(:last-child){
                    border-right: none;
                }

                &-button{
                    bottom: 13px;
                }
            }
        }

        &__table{
            &-head{
                .pointsCashin__table-column{
                    @include fontSize(9, 10.8);
                    height: 33px;
                }
            }

            &-row{
                &:nth-child(5),
                &:nth-child(6){
                    display: none;
                }
            }

            &-column{
                height: 38px;
                padding: 11px 12px !important;
            }
        }
    }
}
@include breakpoint(600){
    .pointsCashin{
        header{
            display: none;
        }

        &__column{
            &:first-child{
                margin-top: 10px;
            }

            &-heading{
                margin-bottom: 30px;
                font-size: em(14);

                strong{
                    font-size: em(52, 14);

                    + span{
                        margin-left: 20px;
                    }
                }
            }

            + .pointsCashin__column{
                margin-top: 35px;
            }
        }

        &__redeemList{
            &-item{
                height: 130px;

                &-points{
                    font-size: em(10);
                }

                &-dollarAmount{
                    margin-top: -7px;
                    font-size: em(45);
                }

                &-button{
                    width: 86px;
                    min-width: 86px;
                    padding: 7px 10px;
                    font-size: em(8);
                    letter-spacing: tracking(-90);
                }
            }
        }

        &__table{
            &-row{
                .pointsCashin__table-column{
                    span{
                        display: none;
                    }
                }
            }

            &-column{
                font-size: em(13);

                &:first-child{
                    width: 64px;
                }

                &:nth-child(2){
                    width: calc(100% - 246px);
                }

                &:nth-child(3){
                    width: 86px;
                }

                &:last-child{
                    width: 96px;
                }
            }
        }
    }
}

//────────────────────────────────────────────────────┘