.productCarousel{
    &__products{
        list-style: none;

        .slick-controls{
            li{
                @include prefixes('transform', 'translateY(-50%)');
                top: 50%;
                bottom: inherit;

                &:first-child{
                    left: inherit;
                    right: 100%;
                }

                &:last-child{
                    right: inherit;
                    left: 100%;
                }
            }
        }

        .slick-prev,
        .slick-next{
            width: 40px;
            height: 40px;
            border: 5px solid is('gray-light');
            box-shadow: none;

            &:before{
                line-height: 27px;
            }

            &:hover,
            &:focus{
                border-color: is('black');
            }

            &:focus{
                background-color: is('white');

                &:before{
                    color: is('red');
                }
            }
        }

        .slick-slide{
            padding: 0 10px;
        }

        .slick-prev{

        }

        .slick-next{

        }

        &-item{
            position: relative;

            &:not(:first-child){
                display: none;
            }

            &--new,
            &--blick-brand,
            &--exclusive{
                &:before{
                    @include prefixes('transform', 'skewY(-10deg)');
                    @include fontFamily(gotham, bold);
                    @include fontSize(12);
              //      position: absolute;
              //      top: 10px;
                    left: 10px;
                    width: 63px;
                    height: 26px;
                    color: is('white');
                    text-align: center;
                    background-color: is('red');
                    z-index: z(element, overlay);
                    box-sizing: border-box;
                }
            }

            &--new{
                &:before{
                    content: "NEW";
                    padding-top: 7px;
                }
            }

            &--blick-brand{
                &:before{
                    content: "BLICK \A BRAND";
                    padding-top: 1px;
                    white-space: pre;
                }
            }

            &--exclusive{
                &:before{
                    content: "EXCLUSIVE";
                    padding-top: 8.5px;
                    font-size: em(9);
                    background-color: is('black');
                }
            }

            &:hover{
                .productCarousel__product-image{
                    &:before{
                        @include prefixes('transform', 'scale(1)');
                    }

                    &:after{
                        opacity: 1;
                    }
                }
            }
        }

        &-link{
            &:focus{
                .productCarousel__product-image{
                    &:before{
                        @include prefixes('transform', 'scale(1)');
                    }

                    &:after{
                        opacity: 1;
                    }
                }
            }
        }

        &--mobile{
            display: none;
        }
    }

    &__product{
        text-align: center;

        &-image{
            position: relative;
            height: 190px;
            text-align: center;

            &:before{
                @include prefixes('transform', 'scale(0)');
                @include transition;
                content:'';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 105px;
                height: 105px;
                margin-top: -52.5px;
                margin-left: -52.5px;
                background-color: rgba(is('white'), 0.83);
                border: 3px solid rgba(is('white'), 1);
                border-radius: 50%;
                box-sizing: border-box;
                box-shadow: 0 0 15px rgba(#000, 0.25);
                z-index: z(element, overlay);

            }

            &:after{
                @include fontFamily(gotham, bold);
                @include fontSize(16);
                @include transition;
                @include prefixes('transform', 'translate(-50%, -50%)');
                content: 'view';
                position: absolute;
                top: 50%;
                left: 50%;
                color: is('red');
                text-transform: uppercase;
                opacity: 0;
                z-index: z(element, overlay);
            }

            img{
                @include prefixes('transform', 'translate(-50%, -50%)');
                position: absolute;
                top: 50%;
                left: 50%;
                max-width: 100%;
                max-height: 100%;
            }
        }

        &-title{
            min-height: 44px;
            margin-top: 19px;
            font-weight: 500;
            color: is('black');

            + p{
                margin-top: 10px;
            }
        }

        &-alert{
            font-size: em(14);
        }

        &-rating{
            display: block;
            list-style: none;
            margin-top: 17px;

            &-star{
                display: inline-block;

                &:not(:last-child){
                    margin-right: 1px;
                }

                &:before{
                    content: '';
                    display: block;
                    background: url('./SkinSource/Images/ui/icon-star-empty.svg') no-repeat;
                    background-size: 15px auto;
                    height: 16px;
                    width: 16px;
                }
            }

            @for $i from 1 through 5{
                &[data-rating="#{$i}"]{
                    .productCarousel__product-rating-star:nth-child(-n + #{$i}){
                        &:before{
                            content: '';
                            display: block;
                            background: url('./SkinSource/Images/ui/icon-star-full.svg') no-repeat;
                            background-size: 16px auto;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }

    &--brand{
        .section__header{
            margin-bottom: 0px;
        }

        + .mediaBlocks {
            .section__header{
                margin-bottom: 33px;
            }

            + .mediaBlocks{
                .section__header{
                    margin-bottom: 33px;
                }
            }
        }
    }
}

//─────────────────────────────────── BREAKPOINTS ────┐
@include breakpoint(tablet-landscape){
    .productCarousel{
        &__products{
            padding-left: 40px;
            padding-right: 40px;

            .slick-controls{
                li{
                    &:first-child{
                        right:inherit;
                        left:0;
                    }

                    &:last-child{
                        left:inherit;
                        right:0;
                    }
                }
            }
        }
    }
}

@include breakpoint(tablet-portrait){
    .productCarousel{
        &__products{
            &--computer{
                padding-bottom: 60px;

                .slick-controls{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    text-align: center;

                    li{
                        @include prefixes(transform, none);
                        position: relative;
                        left: inherit;
                        right: inherit;
                        display: inline-block;

                        + li{
                            margin-left: 30px;
                        }
                    }
                }
            }

            &--mobile-control{
                .slick-controls{
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    text-align: center;
                    left: 0px;

                    li{
                        @include prefixes(transform, none);
                        position: relative;
                        left: inherit;
                        top: inherit;
                        right: inherit;
                        display: inline-block;

                        + li{
                            margin-left: 26px;
                        }
                    }
                }
            }
        }

        &--brand{
            padding-bottom: 60px;

            .productCarousel__products{
                padding: 0px;
            }
        }
    }
}

@include between(small-phone, 600){
    .productCarousel{
        .contain{
            padding-left: 0px;
            padding-right: 0px;
        }

        &__products{
            padding-left: 0px;
            padding-right: 0px;

            &-item > a{
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                box-shadow: 0 0 5px rgba(#000, 0.10);
            }

        }

        &__product{
            padding-top: 22px;
            padding-bottom: 15px;

            &-alert{
                padding: 5px 11px;
                font-size: em(11);
            }

            &-title + p{
                margin-top: 0px;
            }

            &-image{
                height: 113px;

                &:before,
                &:after{
                    display: none;
                }
            }

            &-rating{
                margin-top: 13px;
            }

        }

        &.productCarousel--brand{
            .productCarousel__products-item > a{
                box-shadow: none;
            }
        }
    }
}

@include breakpoint(large-phone){
    .productCarousel{
        &__products{
            &--computer{
                display: none;
            }

            &--mobile{
                display: block;

                + button{
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    font-size: em(14);
                    padding: 20px 15px;
                    margin-top: 10px;
                }
            }
        }

        &--brand{
            + .mediaBlocks{
                background-color: is('gray-lighter');

                .section__header{
                    padding-top: 20px;
                    margin-bottom: 13px;
                }

                + .mediaBlocks{
                    .section__header{
                        padding-top: 20px;
                        margin-bottom: 11px;
                    }
                }
            }
        }
    }
}


// @include breakpoint(average-phone){
//     .productCarousel{
//         &__products-item{
//             padding-left: 20px;
//             padding-right: 20px;
//         }
//     }
// }

//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .productCarousel{
            page-break-before: always;

            .slick-track{
                width:100% !important;
                @include prefixes('transform', 'none !important');
            }

            &__products-item{
                @include prefixes('transform', 'scale(0.8)');
                width:33.3333% !important;
                height: 260px !important;
                box-sizing: border-box;
                page-break-inside: avoid;
            }
        }
    }

//────────────────────────────────────────────────────┘

