#department-show-more:hover {
  cursor: pointer; }

#departments-show-more-button {
  color: #231F20;
  text-align: center;
  text-decoration: underline; }

#departments-show-more-button:hover {
  cursor: pointer; }

more-dept-content {
  display: none !important; }

.departments-border-top-gray {
  padding-top: 80px;
  border-top: 5px solid #d8d6d6; }

.departmentLinks__options .smallerFont {
  font-size: 15px; }

.slick-control {
  display: none; }
