<section role="mediablocks" class="mediaBlocks section bg-gray-lighter padding-y-lg padding-top-null-mobile padding-bottom-xs-mobile">
    <div class="contain">
        <div class="section__header">
            <h2 class="section__header-heading">Featured Videos</h2>
        </div>

        <ul class="productCarousel__products productCarousel__products--computer js-videos-carousel_slick">
            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-bird-wing.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Artists Serving Artists - Jeffery Spicer</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-paint-pouring.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Vallejo Acrylics & Ampersand Panel Paint Pouring</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-bird-wing.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Artists Serving Artists - Jeffery Spicer</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-paint-pouring.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Vallejo Acrylics & Ampersand Panel Paint Pouring</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="productCarousel__products productCarousel__products--mobile clearfix">
            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-bird-wing.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Artists Serving Artists - Jeffery Spicer</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-paint-pouring.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Vallejo Acrylics & Ampersand Panel Paint Pouring</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-bird-wing.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Artists Serving Artists - Jeffery Spicer</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-bird-wing.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Artists Serving Artists - Jeffery Spicer</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mediaBlocks__block mediaBlocks__block--small mediaBlocks__block--type-video" >
                <div class="mediaBlocks__block-bg" style="background-image:url('../SkinSource/Images/backgrounds/bg-bird-wing.jpg')">
                    <div class="mediaBlocks__block-button js-lightbox_trigger">
                        <div class="mediaBlocks__block-button__video-play">
                            <button type="button" class="button-play" aria-label="Play Video"></button>
                        </div>

                        <div class="mediaBlocks__block-button__video-meta">
                            <p class="mediaBlocks__block-button__video-meta-title">Artists Serving Artists - Jeffery Spicer</p>
                            <p class="mediaBlocks__block-button__video-meta-timestamp">3m 46s</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <button type="button" class="mediaBlocks__showMore button-gray">+ Show More</button>
    </div>
</section>