<section role="region" class="productCarousel productCarousel--brand section margin-top-xl margin-top-md-tablet margin-top-sm-mobile margin-bottom-xl margin-bottom-md-tablet margin-bottom-sm-mobile" aria-label="Featured Product Carousel">
    <div class="contain">
        <div class="section__header">
            <h2 class="section__header-heading">Featured Brands</h2>
        </div>

        <ul class="productCarousel__products productCarousel__products--mobile-control js-product-carousel_slick">
            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Strathmore 400 Series Drawing Paper Pads">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/brand/blick.svg" alt="Strathmore 400 Series Drawing Paper Pads">
                        </figure>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Holbein Artists' Watercolor Tubes">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/brand/htiecht.svg" alt="Holbein Artists' Watercolor Tubes">
                        </figure>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Tombow Dual Brush Pens and Sets">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/brand/golden.svg" alt="Tombow Dual Brush Pens and Sets">
                        </figure>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Marabu Easy Marble Paint">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/brand/liquitex.svg" alt="Marabu Easy MarblePaint">
                        </figure>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Marabu Easy Marble Paint">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/brand/holbein.svg" alt="Marabu Easy MarblePaint">
                        </figure>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Strathmore 400 Series Drawing Paper Pads">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/brand/blick.svg" alt="Strathmore 400 Series Drawing Paper Pads">
                        </figure>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Holbein Artists' Watercolor Tubes">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/brand/htiecht.svg" alt="Holbein Artists' Watercolor Tubes">
                        </figure>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Tombow Dual Brush Pens and Sets">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/brand/golden.svg" alt="Tombow Dual Brush Pens and Sets">
                        </figure>
                    </article>
                </a>
            </li>
        </ul>
    </div>
</section>