<section role="frequently-asked-questions" class="faqs section padding-y-xl border-top-gray-light bg-gray-lighter">
    <div class="contain-less">
        <header class="section__header margin-bottom-sm-mobile">
            <h2 class="section__heading">
                Frequently Asked Questions
            </h2>
        </header>

        <ul class="faqs__list">
            <li class="faqs__list-item">
                <p class="faqs__list-item--heading">How do I redeem lorem ipsum dolor?</p>
                <p id="faqs-list-body" class="faqs__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
                <button name="button" class="faqs__list-item--button js-faqs_toggler" aria-expanded="false" aria-controls="faqs-list-body"></button>
            </li>

            <li class="faqs__list-item">
                <p class="faqs__list-item--heading">When can I use lorem dolore magna veniam?</p>
                <p id="faqs-list-body" class="faqs__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
                <button name="button" class="faqs__list-item--button js-faqs_toggler" aria-expanded="false" aria-controls="faqs-list-body"></button>
            </li>

            <li class="faqs__list-item">
                <p class="faqs__list-item--heading">Can I combine voluptat wisi enem ad?</p>
                <p id="faqs-list-body" class="faqs__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
                <button name="button" class="faqs__list-item--button js-faqs_toggler" aria-expanded="false" aria-controls="faqs-list-body"></button>
            </li>

            <li class="faqs__list-item">
                <p class="faqs__list-item--heading">When can I use lorem dolore magna veniam?</p>
                <p id="faqs-list-body" class="faqs__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
                <button name="button" class="faqs__list-item--button js-faqs_toggler" aria-expanded="false" aria-controls="faqs-list-body"></button>
            </li>

            <li class="faqs__list-item">
                <p class="faqs__list-item--heading">Can I combine voluptat wisi enem ad?</p>
                <p id="faqs-list-body" class="faqs__list-item--body">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl utodo consequat.</p>
                <button name="button" class="faqs__list-item--button js-faqs_toggler" aria-expanded="false" aria-controls="faqs-list-body"></button>
            </li>
        </ul>
    </div>
</section>