<section role="herobanner" class="heroBanner section margin-top-sm margin-top-null-mobile margin-bottom-md margin-bottom-sm-mobile">
    <div class="contain">
        <div class="heroBanner__slider js-hero_slick" role="region" aria-label="Promotional carousel">
            <div class="heroBanner__slide" style="background-image:url('../SkinSource/Images/backgrounds/bg-colorful-paint-palette.jpg')">
                <div class="heroBanner__slide-content heroBanner__slide-content--position-center">
                    <div class="heroBanner__slide-content-wrapper">
                        <h5 class="heroBanner__slide-subheading">Mixed Media Giveaway</h5>
                        <h3 id="slick-slide00" class="heroBanner__slide-heading">Enter for a chance to win a prize pack worth more than $300!</h3>
                        <a href="#" class="heroBanner__slide-button button" title="Learn More">Learn More</a>
                    </div>

                    <p class="heroBanner__slide-note">Offer Valid Until 6/22/2018</p>
                </div>
            </div>

            <div class="heroBanner__slide" style="background-image:url('../SkinSource/Images/backgrounds/bg-livingroom-couch.jpg')">
                <div class="heroBanner__slide-content heroBanner__slide-content--position-right">
                    <div class="heroBanner__slide-content-wrapper heroBanner__slide-content-wrapper--position-middle">
                        <h5 class="heroBanner__slide-subheading">Spruce Up Your Walls</h5>
                        <h3 id="slick-slide01" class="heroBanner__slide-heading">April is National Decorating Month</h3>
                        <a href="#" class="heroBanner__slide-button button" title="Shop Now">Shop Now</a>
                    </div>
                </div>
            </div>

            <div class="heroBanner__slide" style="background-image:url('../SkinSource/Images/backgrounds/bg-brush-on-watercolors.jpg')">
                <div class="heroBanner__slide-content heroBanner__slide-content--position-left">
                    <div class="heroBanner__slide-content-wrapper">
                        <h3 id="slick-slide02" class="heroBanner__slide-heading">Professional Watercolor Tubes <b>40%</b> Off List</h3>
                        <a href="#" class="heroBanner__slide-button button" title="Shop Now">Shop Now</a>
                    </div>

                    <p class="heroBanner__slide-note">Offer Valid Until 6/22/2018</p>
                </div>
            </div>
        </div>
    </div>
</section>