<section class="instagram section bg-gray-lighter padding-bottom-lg padding-bottom-sm-tablet padding-bottom-xs-mobile padding-x-xs-mobile">
    <header class="section__header margin-bottom-md margin-bottom-sm-mobile padding-x-sm">
        <h2 class="section__header-heading">#BLICKARTMATERIALS</h2>

        <p class="section__header-paragraph">Follow us on Instagram @blickartmaterials, and share your latest artwork for a chance to be featured.</p>
    </header>

    <ul id="instagram" class="instagram__feed"></ul>
</section>