<section role="mediablocks" class="mediaBlocks section margin-bottom-sm margin-bottom-xs-mobile">
    <ul class="contain">
        <li class="mediaBlocks__block mediaBlocks__block--type-link" style="background-image:url('../SkinSource/Images/backgrounds/bg-frame-selection.jpg')">
            <div class="mediaBlocks__block-button">
                <a href="#" class="mediaBlocks__block-button__link" title="Superior Framing Selection">
                    <p class="mediaBlocks__block-button__link-title">Superior Framing Selection</p>
                    <p class="mediaBlocks__block-button__link-desc">Find a printing and framing location near you.</p>
                    <i class="fa fa-chevron-right mediaBlocks__block-button__link-arrow" aria-hidden="true"></i>
                </a>
            </div>
        </li>

        <li class="mediaBlocks__block mediaBlocks__block--type-link" style="background-image:url('../SkinSource/Images/backgrounds/bg-blick-storefront.jpg')">
            <div class="mediaBlocks__block-button">
                <a href="#" class="mediaBlocks__block-button__link" title="Over 70 Stores Nationwide">
                    <p class="mediaBlocks__block-button__link-title">Over 70 Stores Nationwide</p>
                    <p class="mediaBlocks__block-button__link-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    <i class="fa fa-chevron-right mediaBlocks__block-button__link-arrow" aria-hidden="true"></i>
                </a>
            </div>
        </li>
    </ul>
</section>