<section role="offers" class="offers section margin-top-xl margin-top-md-tablet padding-bottom-xl padding-bottom-md-tablet border-bottom-gray-light">
    <div class="contain">
        <header class="section__header margin-bottom-md margin-bottom-sm-mobile">
            <h2 class="section__header-heading">My Offers</h2>
        </header>

        <ul class="offers__list js-offer-carousel_slick">
            <li class="offers__list-item">
                <a href="#" class="offers__list-item-wrapper">
                    <div class="offers__list-item-thumbnail" style="background-image:url('../SkinSource/Images/backgrounds/bg-woman-reviewing-jar.jpg')"></div>
                    <p id="slick-slide00" class="offers__list-item-desc">Double points on Utrecht Artists Acrylics</p>
                    <p class="offers__list-item-link">Shop Now</p>
                </a>
            </li>

            <li class="offers__list-item">
                <a href="#" class="offers__list-item-wrapper">
                    <div class="offers__list-item-thumbnail" style="background-image:url('../SkinSource/Images/backgrounds/bg-woman-reviewing-jar.jpg')"></div>
                    <p id="slick-slide01" class="offers__list-item-desc">Double points on Utrecht Artists Acrylics</p>
                    <p class="offers__list-item-link">Shop Now</p>
                </a>
            </li>

            <li class="offers__list-item">
                <a href="#" class="offers__list-item-wrapper">
                    <div class="offers__list-item-thumbnail" style="background-image:url('../SkinSource/Images/backgrounds/bg-woman-reviewing-jar.jpg')"></div>
                    <p id="slick-slide02" class="offers__list-item-desc">Double points on Utrecht Artists Acrylics</p>
                    <p class="offers__list-item-link">Shop Now</p>
                </a>
            </li>

            <li class="offers__list-item">
                <a href="#" class="offers__list-item-wrapper">
                    <div class="offers__list-item-thumbnail" style="background-image:url('../SkinSource/Images/backgrounds/bg-woman-reviewing-jar.jpg')"></div>
                    <p id="slick-slide03" class="offers__list-item-desc">Double points on Utrecht Artists Acrylics</p>
                    <p class="offers__list-item-link">Shop Now</p>
                </a>
            </li>

            <li class="offers__list-item">
                <a href="#" class="offers__list-item-wrapper">
                    <div class="offers__list-item-thumbnail" style="background-image:url('../SkinSource/Images/backgrounds/bg-woman-reviewing-jar.jpg')"></div>
                    <p id="slick-slide04" class="offers__list-item-desc">Double points on Utrecht Artists Acrylics</p>
                    <p class="offers__list-item-link">Shop Now</p>
                </a>
            </li>

            <li class="offers__list-item">
                <a href="#" class="offers__list-item-wrapper">
                    <div class="offers__list-item-thumbnail" style="background-image:url('../SkinSource/Images/backgrounds/bg-woman-reviewing-jar.jpg')"></div>
                    <p id="slick-slide05" class="offers__list-item-desc">Double points on Utrecht Artists Acrylics</p>
                    <p class="offers__list-item-link">Shop Now</p>
                </a>
            </li>
        </ul>
    </div>
</section>