<section role="page hero" class="pageHero section margin-top-sm margin-top-xs-mobile margin-bottom-lg margin-bottom-sm-mobile">
    <div class="contain">
        <div class="pageHero__container">
            <div class="pageHero__graphic" style="background-image:url('../SkinSource/Images/backgrounds/bg-red-texture.jpg')">
                <img src="../SkinSource/Images/brand/blick-rewards.svg" alt="Blick Creative Rewards">
            </div>

            <div class="pageHero__banner" style="background-image:url('../SkinSource/Images/backgrounds/bg-woman-reviewing-jar.jpg')">
                <h1 class="pageHero__banner-title">Shop. Earn. Redeem.</h1>
            </div>
        </div>
    </div>
</section>