<section class="productCarousel section margin-top-lg margin-top-md-tablet margin-top-sm-mobile margin-bottom-xl margin-bottom-md-tablet margin-bottom-sm-mobile">
    <div class="contain">
        <header class="section__header">
            <h2 class="section__header-heading">Shop Clearance</h2>
        </header>

        <ul class="productCarousel__products js-product-carousel_slick">
            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Utrecht Artists'Cotton Canvas">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/cotton-canvas.png" alt="Utrecht Artists'Cotton Canvas">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide00">Utrecht Artists'<br>Cotton Canvas</p>

                        <p class="productCarousel__product-alert text-alert">Clearance from $29.27</p>

                        <ul class="productCarousel__product-rating" data-rating="3">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Alex Art Sets">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/alex-art-sets.png" alt="Alex Art Sets">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide01">Alex Art<br>Sets</p>

                        <p class="productCarousel__product-alert text-alert">Clearance from $22.67</p>

                        <ul class="productCarousel__product-rating" data-rating="5">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Sharpie Deep Sea Color Collection Kit">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/sharpie-deepsea-collection.png" alt="Sharpie Deep Sea Color Collection Kit">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide02">Sharpie Deep Sea<br>Color Collection Kit</p>

                        <p class="productCarousel__product-alert text-alert">Save up to 45% off List!</p>

                        <ul class="productCarousel__product-rating" data-rating="2">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Pebeo Fragonard Artist's Oil Colors">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/oil-colors.png" alt="Pebeo Fragonard Artist's Oil Colors">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide03">Pebeo Fragonard Artist's<br>Oil Colors</p>

                        <p class="productCarousel__product-alert text-alert">Clearance from $5.27</p>

                        <ul class="productCarousel__product-rating" data-rating="2">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Royal Langnickel Studio Complete Sketch ...">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/royal-langnickel.png" alt="Royal Langnickel Studio Complete Sketch ...">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide04">Royal Langnickel Studio<br>Complete Sketch ...</p>

                        <p class="productCarousel__product-alert text-alert">Clearance from $27.37</p>

                        <ul class="productCarousel__product-rating" data-rating="5">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Sharpie Deep Sea Color Collection Kit">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/sharpie-deepsea-collection.png" alt="Sharpie Deep Sea Color Collection Kit">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide05">Sharpie Deep Sea<br>Color Collection Kit</p>

                        <p class="productCarousel__product-alert text-alert">Save up to 45% off List!</p>

                        <ul class="productCarousel__product-rating" data-rating="2">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>
        </ul>
    </div>
</section>