<section class="productCarousel section margin-bottom-xl margin-bottom-md-tablet margin-bottom-sm-mobile">
    <div class="contain">
        <header class="section__header">
            <h2 class="section__header-heading">Featured Products</h2>
        </header>

        <ul class="productCarousel__products js-product-carousel_slick">
            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Strathmore 400 Series Drawing Paper Pads">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/drawing-paper.png" alt="Strathmore 400 Series Drawing Paper Pads">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide00">Strathmore 400 Series<br>Drawing Paper Pads</p>

                        <p class="productCarousel__product-alert text-alert">Save up to 55% off List!</p>

                        <ul class="productCarousel__product-rating" data-rating="3">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Holbein Artists' Watercolor Tubes">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/watercolor-tubes.png" alt="Holbein Artists' Watercolor Tubes">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide01">Holbein Artists'<br>Watercolor Tubes</p>

                        <p class="productCarousel__product-alert text-alert">Save up to 45% off List!</p>

                        <ul class="productCarousel__product-rating" data-rating="2">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item productCarousel__products-item--new">
                <a href="#" class="productCarousel__products-link" aria-label="Tombow Dual Brush Pens and Sets">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/brush-pens.png" alt="Tombow Dual Brush Pens and Sets">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide02">Tombow Dual Brush<br>Pens and Sets<span class="screen-reader-text"> *New*</span></p>

                        <p class="productCarousel__product-alert text-alert">Save up to 50% off List!</p>

                        <ul class="productCarousel__product-rating" data-rating="5">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item productCarousel__products-item--blick-brand">
                <a href="#" class="productCarousel__products-link" aria-label="Marabu Easy Marble Paint">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/easy-marble-paint.png" alt="Marabu Easy MarblePaint">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide03">Marabu Easy Marble<br>Paint<span class="screen-reader-text"> *Blick Brand*</span></p>

                        <p class="productCarousel__product-alert text-alert">Save up to 37% off List!</p>

                        <ul class="productCarousel__product-rating" data-rating="2">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item productCarousel__products-item--exclusive">
                <a href="#" class="productCarousel__products-link" aria-label="Gagne Porta-Trace Lumen Series LED Light Panel">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/led-lightpanel.png" alt="Gagne Porta-Trace Lumen Series LED Light Panel">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide04">Gagne Porta-Trace Lumen<br>Series LED Light Panel<span class="screen-reader-text"> *Exclusive*</span></p>

                        <p class="productCarousel__product-alert text-alert">Save up to 35% off List!</p>

                        <ul class="productCarousel__product-rating" data-rating="5">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>

            <li class="productCarousel__products-item">
                <a href="#" class="productCarousel__products-link" aria-label="Holbein Artists' Watercolor Tubes">
                    <article class="productCarousel__product">
                        <figure class="productCarousel__product-image">
                            <img src="../SkinSource/Images/products/watercolor-tubes.png" alt="Holbein Artists' Watercolor Tubes">
                        </figure>

                        <p class="productCarousel__product-title" id="slick-slide05">Holbein Artists'<br>Watercolor Tubes</p>

                        <p class="productCarousel__product-alert text-alert">Save up to 45% off List!</p>

                        <ul class="productCarousel__product-rating" data-rating="2">
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                            <li class="productCarousel__product-rating-star"></li>
                        </ul>
                    </article>
                </a>
            </li>
        </ul>
    </div>
</section>