<section role="page hero" class="pageHero pageHero-subCategories section margin-top-sm margin-top-null-mobile margin-bottom-lg margin-bottom-null-mobile">
    <div class="contain">
        <div class="pageHero__container pageHero__container--small">
            <div class="pageHero__banner" style="background-image:url('../SkinSource/Images/backgrounds/bg-colored-pencil.jpg')">
                <h1 class="pageHero__banner-title">Colored Pencils</h1>
            </div>
        </div>
        <div class="pageHero__footer pageHero__footer--computer clearfloat">
            <div class="pageHero__footer-left">
                <a href="#pencil" class="pageHero__footer-left--link">
                    <p class="pageHero__label">Pencil</p>
                </a>
                <i class="pageHero__arrow-right-icon fa fa-chevron-right"></i>
                <a href="#" class="pageHero__footer-left--link">
                    <p class="pageHero__label">Drawing and Sketching Pencils</p>
                </a>
            </div>
            <div class="pageHero__footer-right">
                <a class="pageHero__footer-right--link" href="#">Featured Videos</a>
                <a class="pageHero__footer-right--link" href="#">Featured Lesson Plans</a>
                <a class="pageHero__footer-right--link" href="#">More Info</a>
            </div>
        </div>
        <div class="pageHero__footer pageHero__footer--mobile clearfloat">
            <div class="pageHero__footer-left">
                <i class="pageHero__arrow-left-icon fa fa-chevron-left"></i>
                <p class="pageHero__label">Colored Pencils</p>
            </div>
            <div class="pageHero__footer-right">
                <button type="button" class="pageHero__label pageHero__label--link js-refineResults">Refine Results</button>
            </div>
        </div>
    </div>
</section>