.footerContact{
    position: relative;

    &__address{
        @include fontFamily(gotham, medium);
        @include fontSize(13, 31.6);
        color: is('gray');
        text-transform: uppercase;
    }

    &__phones{
        list-style: none;

        &-line{
            display: inline-block;

            &:not(:last-child){
                &:after{
                    content: '|';
                    color: is('gray');
                    padding: 0 3px;
                    display: inline-block;
                }
            }
        }

        &-link{
            @include fontSize(13, 31.6);
            @include transition(color);
            text-transform: uppercase;

            &,&:visited{
                color: is('gray');
                text-decoration: none;
            }

            &:hover{
                color: is('white');
            }

            &:focus{
                color: is('red');
                text-decoration: underline !important;
            }

            b{
                font-weight: 600;
            }
        }
    }

    &__certificate{
        position: absolute;
        right: 10px;
        top: 50%;
        width: 75px;
        height: 75px;
        margin-top: -37.5px;

        a{
            &:focus{
                img{
                    box-shadow: 0 0 0 2px is('red');
                }
            }
        }
    }

    img{
        width: 100%;
        height: auto;
    }
}