<footer class="page__footer">
    <div id="footerPane" runat="server">
        <div class="footer__top bg-gray-darker">
            <div class="contain-less">
                <div class="footerSplit">

                    <div class="footerSplit__social">

                        <h2 class="footerSplit__social-heading desktop-only tablet-only">
                            Connect With Us
                        </h2>

                        <ul class="footerSplit__social-items">
                            <li class="footerSplit__social-item">
                                <a href="" class="footerSplit__social-link">
                                    <i class="footerSplit__social-icon">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </i>
                                </a>
                            </li>

                            <li class="footerSplit__social-item">
                                <a href="" class="footerSplit__social-link">
                                    <i class="footerSplit__social-icon">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </i>
                                </a>
                            </li>

                            <li class="footerSplit__social-item">
                                <a href="" class="footerSplit__social-link">
                                    <i class="footerSplit__social-icon">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </i>
                                </a>
                            </li>

                            <li class="footerSplit__social-item">
                                <a href="" class="footerSplit__social-link">
                                    <i class="footerSplit__social-icon">
                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                    </i>
                                </a>
                            </li>

                            <li class="footerSplit__social-item">
                                <a href="" class="footerSplit__social-link">
                                    <i class="footerSplit__social-icon">
                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                    </i>
                                </a>
                            </li>

                            <li class="footerSplit__social-item">
                                <a href="" class="footerSplit__social-link">
                                    <i class="footerSplit__social-icon">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </i>
                                </a>
                            </li>
                        </ul>

                    </div>

                    <div class="footerSplit__payment padding-y-sm desktop-only">
                        <ul class="footerSplit__payment-options">
                            <li class="footerSplit__payment-option">
                                <i class="footerSplit__payment-icon">
                                    <img src="../SkinSource/Images/ui/icon-discover.svg" alt="Discover Card">
                                </i>
                            </li>

                            <li class="footerSplit__payment-option">
                                <i class="footerSplit__payment-icon">
                                    <img src="../SkinSource/Images/ui/icon-visa.svg" alt="Visa Card">
                                </i>
                            </li>

                            <li class="footerSplit__payment-option">
                                <i class="footerSplit__payment-icon">
                                    <img src="../SkinSource/Images/ui/icon-mastercard.svg" alt="Mastercard">
                                </i>
                            </li>

                            <li class="footerSplit__payment-option">
                                <i class="footerSplit__payment-icon">
                                    <img src="../SkinSource/Images/ui/icon-amex.svg" alt="American Express">
                                </i>
                            </li>

                            <li class="footerSplit__payment-option">
                                <i class="footerSplit__payment-icon">
                                    <img src="../SkinSource/Images/ui/icon-amazon-pay.svg" alt="Amazon Pay">
                                </i>
                            </li>

                            <li class="footerSplit__payment-option">
                                <i class="footerSplit__payment-icon">
                                    <img src="../SkinSource/Images/ui/icon-paypal.svg" alt="Paypal">
                                </i>
                            </li>

                            <li class="footerSplit__payment-option">
                                <i class="footerSplit__payment-icon">
                                    <img src="../SkinSource/Images/ui/icon-giftcard.svg" alt="Gift Cards">
                                </i>
                            </li>

                            <li class="footerSplit__payment-option">
                                <i class="footerSplit__payment-icon">
                                    <img src="../SkinSource/Images/ui/icon-check.svg" alt="Checks">
                                </i>
                            </li>
                        </ul>
                    </div>

                    <div class="footerSplit__tablet-options tablet-only mobile-only">
                        <a href="/" class="footerSplit__phone tablet-only">
                            <i class="footerSplit__phone-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                  <title>icon-phone</title>
                                  <g id="Layer_2" data-name="Layer 2">
                                    <g id="Guides">
                                      <path d="M11.5.6l.4.2a.4.4,0,0,1,.1.3,10.6,10.6,0,0,1-1.5,5.5,12.1,12.1,0,0,1-3.9,3.9A10.6,10.6,0,0,1,1.1,12H.8a.5.5,0,0,1-.2-.4L0,9.1a.8.8,0,0,1,.1-.4l.2-.2L3,7.4h.3l.3.2L4.8,8.9A8.1,8.1,0,0,0,7.2,7.2,8.1,8.1,0,0,0,8.9,4.8L7.5,3.6l-.2-.3A.4.4,0,0,1,7.4,3L8.5.3,8.7.1h.4Z" fill="#ccc"/>
                                    </g>
                                  </g>
                                </svg>
                            </i>
                            (800) 828-4548
                        </a>
                        <button class="button-gray footerSplit__scrollTop">
                            Back to Top
                            <i class="footerSplit__scrollTop-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="10.62" height="12.41" viewBox="0 0 10.62 12.41">
                                  <title>icon-arrow-up</title>
                                  <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                      <g>
                                        <polyline points="0.69 5.74 5.31 1.38 9.93 5.74" fill="none" stroke="#e5e9ea" stroke-miterlimit="10" stroke-width="2"/>
                                        <line x1="5.31" y1="12.41" x2="5.31" y2="1.41" fill="none" stroke="#e5e9ea" stroke-miterlimit="10" stroke-width="2"/>
                                      </g>
                                    </g>
                                  </g>
                                </svg>
                            </i>
                        </button>
                    </div>

                </div>

                <div class="footerLinks padding-y-md padding-x-sm">
                    <div class="footerLinks__column">
                        <h2 class="footerLinks__column-heading">My Account</h2>

                        <ul class="footerLinks__menu desktop-only">
                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="My Account">My Account</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="My Orders">My Orders</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="My Lists">My Lists</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footerLinks__column">
                        <h2 class="footerLinks__column-heading">Customer Service</h2>

                        <ul class="footerLinks__menu desktop-only">
                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="General Help">General Help</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Request A Catalog">Request A Catalog</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Take Our Survey">Take Our Survey</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Shipping Information">Shipping Information</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="On-Account Ordering">On-Account Ordering</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Sales Tax">Sales Tax</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footerLinks__column">
                        <h2 class="footerLinks__column-heading">Product Information</h2>

                        <ul class="footerLinks__menu desktop-only">
                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="General help">General help</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Videos">Videos</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Product Reviews">Product Reviews</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Paint Swatches">Paint Swatches</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Product Icon Key">Product Icon Key</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Being Green at Blick">Being Green at Blick</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Health & Safety">Health & Safety</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footerLinks__column">
                        <h2 class="footerLinks__column-heading">Quick Links</h2>

                        <ul class="footerLinks__menu desktop-only">
                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Find A Store">Find A Store</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Join Our Email List">Join Our Email List</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="About Blick">About Blick</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Careers">Careers</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Affiliate Program">Affiliate Program</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Link To Us">Link To Us</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Privacy & Security">Privacy & Security</a>
                            </li>

                            <li class="footerLinks__menu-item">
                                <a href="#" class="footerLinks__menu-link" title="Accessibility">Accessibility</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footerCertificates desktop-only">
                    <ul class="footerCertificates__list">
                        <li class="footerCertificates__list-item">
                            <a href="#" class="footerCertificates__list-link">
                                <img src="../SkinSource/Images/certificates/logo-trustwave.png">
                            </a>
                        </li>

                        <li class="footerCertificates__list-item">
                            <a href="#" class="footerCertificates__list-link">
                                <img src="../SkinSource/Images/certificates/logo-godaddy.png">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footerContact padding-y-md desktop-only">
                    <div class="footerContact__info">
                        <address class="footerContact__address">Dick Blick Art Materials - P.O. Box 1267 Galesburg, IL 61402-1267</address>
                        <ul class="footerContact__phones">
                            <li class="footerContact__phones-line">
                                <a href="tel:###" title="Call our toll-free number!" class="footerContact__phones-link">
                                    <b>Toll Free Phone</b>
                                    <span>(800) 828-4548</span>
                                </a>
                            </li>

                            <li class="footerContact__phones-line">
                                <a href="tel:###" title="Call our international number!" class="footerContact__phones-link">
                                    <b>International Phone</b>
                                    <span>+1-309-343-6181 Ext. 5402</span>
                                </a>
                            </li>

                            <li class="footerContact__phones-line">
                                <a href="tel:###" title="Send us a fax!" class="footerContact__phones-link">
                                    <b>Fax</b>
                                    <span>(800) 621-8293</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="footerContact__certificate">
                        <a href="#" target="_blank">
                            <img src="../SkinSource/Images/certificates/logo-accessible360.png" alt="Accessible360 - Under Review">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom bg-black">
            <div class="contain-full">
                <div class="copyright">
                    <p class="copyright__text">Dick Blick Art Materials®, Blick®, Blick Studio®, And Artists Pick Blick® Are Registered Trademarks Of Dick Blick Holdings Inc. © Copyright 1999-2018 Dick Blick Holdings Inc. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>