//░░░░░░░░░░░░░░░░░░░░░░░░░░░
//
//    DIRECTORY
//
//    _FooterTop
//    _FooterBottom
//
//░░░░░░░░░░░░░░░░░░░░░░░░░░░

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _General
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

//─────────────────────────────────── BREAKPOINTS ────┐

    @include breakpoint(tablet-portrait){
        footer{
            padding-bottom: 47px;
        }
    }

    @include breakpoint(large-phone){
        footer{
            padding-bottom: 59px;
        }
    }

//────────────────────────────────────────────────────┘


//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _FooterTop
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

//─────────────────────────────────── BREAKPOINTS ────┐
    @include breakpoint(large-phone){
        .footer__top{
            .contain-less{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
//────────────────────────────────────────────────────┘

//─────────────────────────────────── PRINT STYLING ────┐

    @media print{
        .footer__top{
            display: none !important;
        }
    }

//────────────────────────────────────────────────────┘

//▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
// _FooterBottom
//▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

//─────────────────────────────────── BREAKPOINTS ────┐
    @include breakpoint(large-phone){
        .footer__bottom{
            .contain-full{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
//────────────────────────────────────────────────────┘
