.footerSplit{
    @extend %clearfix;
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #3f4044;

    &__social{
        float: left;
        width: 44%;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 50px;
        border-right: 1px solid #3f4044;
        box-sizing: border-box;

        &-heading,
        &-items{
            display: inline-block;
            vertical-align: middle;
        }

        &-heading{
            @include fontFamily(gotham, bold);
            @include fontSize(14);
            color: is('white');
            text-transform:uppercase;
            margin-right: 28px;
        }

        &-items{
            list-style: none;
        }

        &-item{
            display: inline-block;
            vertical-align: middle;

            &:not(:last-child){
                margin-right: 24px;
            }

            .fa{
                color: is('white');
            }
        }

        &-link{
            &:focus{
                .fa{
                    color: is('red');
                    box-shadow: 0 0 0 1px is('red');
                }
            }
        }
    }

    &__payment{
        float: left;
        width: 56%;
        padding-left: 50px;
        box-sizing: border-box;

        &-options{
            list-style: none;
        }

        &-option{
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
            text-align: right;

            &:last-child{
                margin-right: 0px;
            }
        }

        &-icon{
            display: block;
        }
    }

    &__tablet-options{
        float:left;
        width:45%;
        padding-left: 32px;
        box-sizing: border-box;

        > a, a:visited{
            color: is('gray');

            &:hover,
            &:focus{
                color: is('white');

                .footerSplit__phone-icon{
                    svg *{
                        fill: is('white');
                    }
                }
            }
        }
    }

    &__phone{
        @include transition;
        @include fontFamily(gotham, book);
        @include fontSize(16);
        display: inline-block;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-right: 31px;



        &-icon{
            margin-right: 8px;

            svg *{
                @include transition;
            }
        }
    }

    &__scrollTop{
        font-size: em(14);
        padding: 17px 33px;

        &-icon{
            margin-left: 8px;

            svg *{
                @include transition;
            }
        }

        &:hover,
        &:focus{
            .footerSplit__scrollTop-icon{
                svg *{
                    stroke: is('gray');
                }
            }
        }
    }
}


//─────────────────────────────────── BREAKPOINTS ────┐

    @include breakpoint(tablet-landscape){
        .footerSplit{
            padding-top: 30px;
            padding-bottom: 30px;

            &__social{
                width:55%;
                padding-top: 0px;
                padding-bottom: 0px;
                padding-right: 32px;

                &-heading,
                &-item{
                    padding-top: 14px;
                    padding-bottom: 14px;
                }

                &-item{
                    &:not(:last-child){
                        margin-right: 38px;
                    }
                }
            }
        }
    }

    @include between(large-phone, tablet-portrait){
        .footerSplit{
            &__social,
            &__tablet-options{
                float: none;
                width: 100%;
                border-right: 0px;
                text-align: center;
                padding-right: 0px;
                padding-left: 0px;
            }

            &__social{

                &-heading{
                    display: block;
                    margin-right: 0px;
                }
            }

            &__phone{
                display: block;
                margin-right: 0px;
            }
        }
    }

    @include breakpoint(large-phone){
        .footerSplit{
            padding-top: 20px;
            padding-bottom: 30px;

            &__social,
            &__tablet-options{
                float: none;
                width: 100%;
                border-right: 0px;
                text-align: center;
                padding-right: 0px;
                padding-left: 0px;
            }

            &__social{
                margin-bottom: 15px;

                &-heading{
                    display:none;
                }

                &-item{
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            &__phone{
                display: none;
            }

            &__scrollTop{
                display:block;
                width:100%;
            }
        }
    }

//────────────────────────────────────────────────────┘
